<template>
    <div class="page-content">
        <div class="just-num-79 just-wrap">
            <div class="RatesList" v-for="(rate, index) in rates">
                <div class="col">
                    <h4 class="heading" :class="{'color--leaf': index===0, 'color--pinky': index===1, 'color--sea': index===2}">{{rate.type}}</h4>
                    <h3 class="tarif-name">
                        {{rate.name}}
                    </h3>
                    <h3 class="price-grid just-num-8">
                        <span class="text">от</span>
                        <span class="price">
                            {{rate.price.value['monthly'].split('.')[0]}}
                            <sup></sup>
                        </span> <span class="text">{{rate.price.currency}} <br> {{priceDictionary['monthly']['period']}}</span></h3>
                    <p class="note color--gray">{{rate.description}}</p>
                    <ul class="list"
                        :class="{'list--leaf': index===0, 'list--pinky': index===1, 'list--sea': index===2}">
                        <li v-for="feature in rate.features">{{feature}}</li>
                    </ul>
                    <div class="row just-num-5 btn-place">
                        <v-btn block class="btn--long"
                               dark
                               :class="{'btn--leaf': index===0, 'btn--pinky': index===1, 'btn--sea': index===2}"
                               :href="rate.button.href">
                            <div>{{rate.button.text}}</div>
                        </v-btn>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>
