<link rel="stylesheet" type="text/css" href="{$WEB_ROOT}/templates/orderforms/standard_cart/css/all.min.css?v={$versionHash}" />
<script type="text/javascript" src="{$WEB_ROOT}/templates/orderforms/standard_cart/js/scripts.min.js?v={$versionHash}"></script>
<script type="text/javascript" src="/templates/orderforms/standard_cart/js/custom.js"></script>


