.notebox {
    width: 100%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #fff;
    margin: 55px 5px;
    padding: 50px 25px 25px;
    position: relative;
    z-index: 1;
}

.notebox:before {
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    right: -5px;
    bottom: -5px;
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#eb276d),color-stop(25%,#e45c9a),color-stop(50%,#ae65b6),color-stop(75%,#6448b6),to(#3b2c79));
    background-image: -webkit-linear-gradient(left,#eb276d 0,#e45c9a 25%,#ae65b6 50%,#6448b6 75%,#3b2c79 100%);
    background-image: -moz-linear-gradient(left,#eb276d 0,#e45c9a 25%,#ae65b6 50%,#6448b6 75%,#3b2c79 100%);
    background-image: -o-linear-gradient(left,#eb276d 0,#e45c9a 25%,#ae65b6 50%,#6448b6 75%,#3b2c79 100%);
    background-image: linear-gradient(90deg,#eb276d 0,#e45c9a 25%,#ae65b6 50%,#6448b6 75%,#3b2c79 100%);
    z-index: -1;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.notebox:after {
    content: 'ОБРАЩАЕМ ВНИМАНИЕ';
    position: absolute;
    text-transform: uppercase;
    color: #eb276d;
    left: 0;
    top: 0;
    background: #fff;
    right: 0;
    bottom: 0;
    z-index: -1;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding-left: 25px;
    padding-top: 15px;
}