<template>
    <div class="section--form-map">
        <v-container>
            <v-layout wrap>
                <v-flex xs12>
                    <h2>{{title}}</h2>
                </v-flex>
                <v-flex xs12 lg6>
                    <FeedbackForm :form="form" :api="api"></FeedbackForm>
                </v-flex>
                <v-flex xs12 lg6>
                    <Map :coordinationCenterY="coordinationCenterY" :coordinationCenterX="coordinationCenterX"></Map>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
    <!-- /.section--form-map -->
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>