<template>
    <div class="white-section section-arrow-top detail-container">
        <v-container>
            <v-layout wrap>
                <v-flex xs12 lg8>
                    <NewsDetailCard :currentNews="currentNews"></NewsDetailCard>
                </v-flex>
                <v-flex xs-12 lg4>
                    <NewsDetailLastWidget :lastNews="lastNews"></NewsDetailLastWidget>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>