@import "../../../../styles/general/vars";
@import "../../../../styles/general/mixins";
#app {
    .section-arrow-top.detail-container {
        margin-top: 100px;
    }
    .detail-container {
        .container {
            padding-bottom: 0;
        }
    }
}

@include media575 {
    #app{
        .section-arrow-top.detail-container {
            margin-top: 30px;
        }
    }
}