<template>
    <div class="image-text section-arrow-top" :class="root_class">
        <v-container>
            <div class="image-text__inner">
                <div class="image-text__image">
                    <img :src="image" :alt="title" />
                </div>
                <div class="image-text__info">
                    <div class="image-text__name">{{title}}</div>
                    <div class="image-text__desc">{{description}}</div>
                    <div class="image-text__button" v-if="showButton()">
                        <v-btn class="btn--alt" :href="link">{{link_text}}</v-btn>
                    </div>
                </div>
            </div>
        </v-container>
    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>