@import '../../../../styles/general/_vars.scss';
@import '../../../../styles/general/_mixins.scss';

.image-text {
    background: #fff;
    color: #333;

    &__inner {
        padding: 60px 0;

        &:after {
            display: table;
            clear: both;
            content: "";
        }
    }

    &__image {
        float: left;
        width: 678px;
    }

    &__info {
        margin-left: 678px;
        padding: 35px 0 0 35px;
    }

    &__name {
        font-size: 34px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 48px;
    }

    &__desc {
        font-size: 18px;
    }

    &__button {
        margin-top: 30px;
        .v-btn {
            margin: 0;
        }
    }
}