<template>
    <div>
        <h3>{{title}}</h3>
        <p class="description" v-html="description"></p>
        <slot></slot>
    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>