@import '../../../../styles/general/_vars.scss';
@import '../../../../styles/general/_mixins.scss';

#app {
    h3 {
        width: 100%;
        max-width: 468px;
        font-size: 45px;
        line-height: (55 / 45);
        margin: 40px 0 0;
    }
}
    .description {
        width: 100%;
        max-width: 566px;
        margin: 45px 0;
    }

@include media575 {
     #app {
         h3 {
             font-size: 32px;
         }
     }
    }