<template>
    <div class="benefis page-content just-num-5 column" :class="fitsClass">
        <h2>{{title}}</h2>
        <div class="just-num-8 just-wrap cards-container">
            <div class="col benefis-card" v-for="benefit in benefits">
                <div class="image just-num-5">
                    <img :src="benefit.imageUrl" alt="">
                </div>
                <h3 v-html="benefit.title"></h3>
                <div class="description">{{benefit.description}}</div>
            </div>
        </div>
        <br>
        <v-btn big class="btn--pinky btn--alt" v-if="button && button.href" :href="button.href">
            {{button.text}}
        </v-btn>
    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>