@import "../../../../styles/general/vars";
@import "../../../../styles/general/mixins";
#app{
    .benefis{
        padding: 80px 0 0;
        background: rgba(31, 18, 80, 0.8);
        border-radius: 16px;
        margin-bottom: 80px;

        h2 {
            max-width: 600px;
            margin-bottom: 35px;
            text-align: center;
        }
        h3 {
            font-size: 20px;
            margin: 15px 0;
        }
        .row {
            width: 100%;
        }
        .cards-container {
            max-width: 100%;
        }

        .benefis-card {
            text-align: center;
            padding: 25px;
            flex-basis: 25%;
            max-width: 25%;
            min-width: 280px;
            .image {
                width: 100%;
                height: 100px;

                img {
                    max-width: 100px;
                }
            }

            .description {
                font-size: 14px;
                line-height: 24px;
            }
        }

        .btn, .v-btn {
            margin-top: 30px;
            background: $color--pinky;
            color: #fff;
        }
    }
    .site-constructor{
        h2 {
            max-width: 800px;
        }
    }
}

@include media767 {
    #app .benefis .benefis-card {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
}