/* *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

***************************************************** */
#app .panel-sidebar .panel-title {
    color: #1D2731;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

#app .panel-sidebar {
    color: #1D2731;
}

#app .special-offer .special-offer__box.mix-gradient .inner {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 15px 35px;
    background: #fff;
}

#app .special-offer .special-offer__box {
    padding: 4px !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#app .login-block {
    height: 322px;
    width: 537px;
    margin-left: 50px;
}

@media (max-width: 765px) {
    #app .login-block {
        margin-left: 0;
    }
}

@media (max-width: 991px) {
    #app .login-block {
        width: 100%;
        margin-left: 0;
    }
}

#app .login-block .inner.just-num-46 {
    width: 100%;
    height: 100%;
}

#app .login-block .inner.just-num-46 .text {
    width: 100%;
}

#app .login-block .inner.just-num-46 .form-control {
    height: 52px;
    line-height: 52px;
    padding-left: 50px;
}

#app .login-block .inner.just-num-46 .fogot-pass {
    height: 14px;
    width: 107px;
    color: #919191;
    font-size: 14px;
    line-height: 28px;
}

#app .login-block .inner #login {
    height: 40px;
    width: 93px;
    color: #fff;
    background-color: #EB276D;
    border: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

#app .logincontainer {
    margin: 0;
}

#app .panel-sidebar .panel-minimise {
    color: #EB276D;
}

#app .panel-sidebar h3.panel-title {
    color: #1D2731;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

#app .panel-sidebar h3.panel-title > i:not(.pull-right) {
    display: none;
}

#app .panel-sidebar {
    border: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    border-radius: 0;
    box-shadow: none;
    margin-top: -1px;
}

#app .panel-sidebar .panel-heading {
    border-radius: 0;
    padding-left: 20px;
    background-color: #fff;
}

#app .panel-sidebar .panel-heading:hover {
    cursor: pointer;
}

#app .panel-sidebar.active .panel-heading {
    background-color: #f5f5f5;
}

#app .panel-sidebar a.list-group-item {
    font-size: 18px;
    color: #000;
    border: 0;
    height: auto;
    padding: 3px 0 3px 20px;
    margin: 15px 0;
    border-radius: 0;
}

#app .panel-sidebar a.list-group-item i {
    display: none;
}

#app a[id*="order-button"] {
    width: 100%;
    font-size: 16px;
    line-height: 28px;
    padding-top: 4px;
    margin-bottom: 25px;
}

#app .panel-sidebar a.list-group-item.active,
#app .panel-sidebar a.list-group-item.active:focus,
#app .panel-sidebar a.list-group-item:hover {
    background: 0;
    color: #EB276D;
    box-shadow: -2px 0px 0 #EB276D;
}

#app .panel-heading i.fab,
#app .panel-heading i.fal,
#app .panel-heading i.far,
#app .panel-heading i.fas {
    font-size: 0.65em;
}

#app .panel-sidebar .panel-minimise {
    margin-top: 9px;
}

#app .login-block-form .header-lined {
    display: none;
}

#app .login-h1 {
    color: #333333;
    font-size: 45px;
    font-weight: bold;
    line-height: 32px;
    margin-top: 0;
    margin-left: 31px;
    margin-bottom: 50px;
}

@media (max-width: 991px) {
    #app .login-h1 {
        margin-left: -18px;
    }
}

@media (max-width: 765px) {
    #app .login-h1 {
        margin: 40px 0 20px 0;
        text-align: center;
        font-size: 33px;
    }
}

#app .panel > .list-group,
#app .panel > .panel-collapse > .list-group {
    padding: 10px 0;
}

.block-left-nav {
    width: 230px;
}

@media (max-width: 765px) {
    .block-left-nav {
        width: 100%;
    }
}

#app #registration .sub-heading {
    height: auto;
    border-top: 0;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 15px;
}

#app #registration {
    color: #333333;
}

#app #registration .sub-heading span {
    color: #333333;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    top: 0;
}

#app #default-captcha-domainchecker {
    color: #333;
}

#app div.header-lined h1 {
    padding-top: 0;
    line-height: 1.1;
    border-bottom: 0;
    color: #333333;
    font-size: 45px;
}

#app .marketing-email-optin {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    background: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#app #default-captcha-domainchecker {
    margin-bottom: 0;
}

#app #inputCaptcha {
    width: 100%;
    border-radius: 4px;
    height: 52px;
    margin-top: 3px;
    color: #333;
    font-size: 18px;
}

#app #passwordStrengthTextLabel {
    margin-top: -2px;
}

#app #inputCaptchaImage {
    display: block;
    margin: 0 auto;
}

#app .inputCaptchaImage-block {
    height: 52px;
    width: 94%;
    margin: 0 auto;
    padding-top: 12px;
    background-color: #F0F0F0;
    background: linear-gradient(270deg, #94CCDB 0%, #4380AD 100%);
}

#app .btn-registreted-form {
    outline: 0;
    padding: 7px 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #EB276D;
    box-shadow: 0 4px 10px NaNpx rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}

#app .marketing-email-optin .checkbox-style {
    float: left;
}

.marketing-email-optin p {
    padding-left: 25px;
    color: #919191;
    font-size: 14px;
    line-height: 20px;
}

.checkbox-style label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    border: solid 1px #C8C8C8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.checkbox-style label:after {
    content: '';
    width: 11px;
    height: 7px;
    position: absolute;
    top: 4px;
    left: 3px;
    border: 2px solid #EB276D;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}

.checkbox-style label:hover::after {
    opacity: 0.3;
}

.checkbox-style input[type=checkbox] {
    visibility: hidden;
}

.checkbox-style input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.checkbox-style {
    width: 20px;
    height: 20px;
    position: relative;
}

#app #order-standard_cart #btnCheckAvailability {
    display: block;
    width: 130px;
    padding: 7px 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #EB276D;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    margin: 15px 0 20px;
    outline: 0;
    border: 0;
}

#app #order-standard_cart .input-select-domain {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}

#app #order-standard_cart .products .product .product-pricing .edit-price-kopecs-js .style-price {

}

#app #order-standard_cart .products .product {
    color: #333;
}

#app #order-standard_cart .products .product header {
    background: 0;
    text-align: center;
}

#app #order-standard_cart .products .product footer {
    float: none;
    width: 90%;
    margin: 0 auto;
}

#app #order-standard_cart .products .product div.product-desc {
    float: none;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

#app #order-standard_cart .products .product p[id*="description"] {
    padding: 0 15px;
}

#app #order-standard_cart .products .product {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#app .btn, #app .v-btn {
    outline: 0;
}

#app #products .product:hover footer a {
    background: #eb276d;
    color: #fff;
}

#app #products .product:hover {
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#app #products .product-info-text ul {
    list-style: none;
}

#app #products .product-info-text ul li:before {
    display: none;
}

#app #products .product-info-text ul li {
    display: block;
    padding: 0;
}

#app #products .product-info-text ul li span:first-child {
    font-size: 14px;
}

#app #products .product-info-text ul li span:last-child {
    font-size: 18px;
}

#app #products .product-info-text ul li span {
    display: block;
    text-align: center;
    font-size: 15px;
}

#app #products .product-info-text ul li:nth-child(odd) {
    background-color: rgba(235, 39, 109, 0.16);
}

#app .note-popup {
    display: none;
    opacity: 1 !important;
    visibility: inherit !important;
}

#app .special-offer .text {
    width: 100%;
}

#app {
    color: #333333;
}

#app .header__info__support__phone {
    color: #fff;
}

#app #order-standard_cart .summary-container {
    background-color: #fff;
    padding: 0;
    min-height: inherit;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: inherit;
}

#app #order-standard_cart .summary-container .text-total-sum {
    font-size: 24px;
    line-height: 60px;
    font-weight: 500;
}

#app #order-standard_cart .order-summary {
    background: 0;
    margin: 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#app #order-standard_cart .view-cart-items-header {
    padding: 10px 5px 10px 30px;
    background: 0;
    color: inherit;
}

#app #order-standard_cart .btn-remove-from-cart:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #eb276d;
}

#app #order-standard_cart .btn-remove-from-cart {
    border: 0;
    color: #C8C8C8;
    font-size: 17px;
    background: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
}

#app #order-standard_cart .view-cart-items .item:nth-child(even) .info-in-cart-product ul li span,
#app #order-standard_cart .view-cart-items .item:nth-child(even) {
    background-color: #FEF0F5;
}

#app #order-standard_cart .view-cart-items .item {
    padding: 20px 0 10px 30px;
}

#app #order-standard_cart .btn-checkout {
    margin-top: 13px;
    padding: 5px 35px;
    background: #eb276d;
    color: #fff;
}

#app .page-content.footer__prettyLinks {
    color: #fff;
}

#app #order-standard_cart .view-cart-items .col-sm-1 {
    text-align: center;
}

#app #order-standard_cart .view-cart-items {
    border: 0;
}

#app .info-in-cart-product ul {
    margin: 0;
    list-style: none;
}

#app .info-in-cart-product ul li:before {
    display: none;
}

#app .info-in-cart-product ul li {
    border-bottom: dotted 1px #333;
    display: block;
    height: 19px;
    font-size: 14px;
    padding-left: 0;
}

#app .info-in-cart-product ul li span {
    background: #fff;
}

#app .main-content {
    margin-bottom: 0;
}

#app .info-in-cart-product ul li span:first-child {
    float: left;
}

#app .info-in-cart-product ul li span:last-child {
    float: right;
}

#app .container-cart-block {
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    border-radius: 10px;
    margin-bottom: 50px;
}

#app #order-standard_cart .view-cart-items {
    margin-bottom: 0;
}

#app .style-price {
    position: relative;
    display: inline-block;
    margin-right: 85px;
}

#app .style-price .number-integer {
    font-size: 40px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}

#app .style-price .number-kopec {
    position: absolute;
    top: 0;
    right: -70px;
    font-size: 20px;
    line-height: 15px;
}

#app .login-form .form-group {
    position: relative;
}

#app .login-form .form-group label {
    position: absolute;
    top: 1px;
    left: 20px;
    line-height: 48px;
    margin-bottom: 0;
}

#app .container-btn-login-form {
    margin-top: 20px;
}

#app .text-remember-registreted a {
    margin-left: 4px;
}

#app .text-remember-registreted {
    display: inline-block;
    padding-left: 25px;
}

#app #registration .field, #registration .form-control {
    height: 50px;

}

#app #registration .prepend-icon .field-icon {
    height: 50px;
    line-height: 55px;
}
#app #containerNewUserSignup .prepend-icon .field-icon {
    height: 50px;
    line-height: 50px;
}

#app .country-list li:before {
    display: none;
}

#app .sidebar {
    margin-bottom: 25px;
}

#app .panel a.btn {
    padding: 0 25px;
    line-height: 34px;
    font-size: 15px;
}

#app .panel a.btn.bg-color-blue {
    color: #01ADC3;
    border-color: #01ADC3;
}

#app .panel a.btn.bg-color-blue:hover {
    background: #01ADC3;
    color: #fff;
}

#app .panel-accent-emerald .input-group-btn .btn {
    color: #8CC53A;
    border-color: #8CC53A;
}

#app .panel-accent-emerald .input-group-btn .btn:hover {
    color: #FFFFFF;
    background: #8CC53A;
}

#app .btn:hover {
    background: #eb276d;
    color: #FFFFFF;
}

#app .panel a.btn.bg-color-asbestos:hover {
    background: #919191;
    color: #FFFFFF;
}

#app .panel a.btn.bg-color-asbestos {
    color: #919191;
    border-color: #919191;
}

#app .panel a.btn.bg-color-red:hover {
    background: #43006C;
    color: #FFFFFF;
}

#app .panel a.btn.bg-color-red {
    color: #43006C;
    border-color: #43006C;
}

#app .special-offer.top-block-in-panel-client .special-offer__box .inner[data-v-0e0cbbc2] {
    padding: 0 15px;
}

#app .tiles .top-block-in-panel-client .tile .stat {
    margin-top: 0;
    color: #333333;
}

#app .tiles .top-block-in-panel-client .tile .title {
    text-transform: inherit;
    font-size: 18px !important;
    color: #333333;
}

#app .tiles .top-block-in-panel-client .tile:hover .title {
    color: #eb276d;
}

#app .tiles .top-block-in-panel-client .tile:hover {
    background: #F4F4F4;
}

#app .tiles .top-block-in-panel-client .tile {

}

#app .tiles .top-block-in-panel-client .tile {
    background: 0;
}

#app .login-block .inner #login
#app .top-block-in-panel-client .text {
    padding: 0;
}

#app .panel.panel-accent-red {
    border-top: 1px solid #ddd;
    border-left: 3px solid #43006C;
}

#app .panel.panel-accent-blue {
    border-top: 1px solid #ddd;
    border-left: 3px solid #01ADC3;
}

#app .panel.panel-accent-gold {
    border-top: 1px solid #ddd;
    border-left: 3px solid #EB276D;
}

#app .panel.panel-accent-emerald {
    border-top: 1px solid #ddd;
    border-left: 3px solid #8CC53A;
}

#app .panel.panel-accent-asbestos {
    border-top: 1px solid #ddd;
    border-left: 3px solid #919191;
}

#app .client-home-panels .panel > .panel-footer {
    background: 0;
}

#app .client-home-panels .panel > .panel-body p {
    font-size: 14px;
    line-height: 20px;
}

#app input.btn,
#app button.btn, #app button.v-btn,
#app a.btn, #app a.v-btn {
    color: #eb276d;
    text-decoration: none;
    border-color: #eb276d;
    padding: 4px 20px;
}

#app #frmDomainChecker button.btn {
    color: #fff;
}

#app .header__info .v-btn .v-btn__content {
    padding: 0;
}

#app div ul li:before {
    display: none !important;
}

#app .top-menu__list .top-menu__item .submenu[data-v-6acd124c] {
    -webkit-box-shadow: 0 0 10px #333333;
    -moz-box-shadow: 0 0 10px #333333;
    box-shadow: 0 0 10px #333333;
}

#app .top-menu__list .top-menu__item .submenu[data-v-6acd124c]:before {
    box-shadow: -5px -5px 8px #33333359;
}

#app .footer__bottomText {
    color: #fff;
}

#app .footer .btn, #app .footer .v-btn {
    padding-top: 0;
}

#app .panel-sidebar > .panel-footer {
    background-color: #fff;
}

#app .panel.panel-default.panel-accent-emerald .input-group {
    width: 100%;
    margin: 0;
    padding: 10px;
}

#app .panel.panel-default.panel-accent-emerald input[name="domain"] {
    display: block;
    width: 100%;
    clear: both;
    float: none;
}

#app .panel.panel-default.panel-accent-emerald .input-group-btn {
    float: none;
    clear: both;
    display: block;
    padding-top: 33px;
}

#app .panel.panel-default.panel-accent-emerald .input-group-btn .btn {
    margin-right: 15px;
}

#app #order-standard_cart .domain-selection-options .option {
    background-color: #fff;
}

#app #order-standard_cart .domain-selection-options .option-selected {
    background-color: #FEF0F5;
}

#app #useOwnDomain {
    width: 135px;
}

#app .listtable .dataTables_filter,
#app div.dataTables_wrapper div.dataTables_info {
    display: none;
}

#app .listtable table.table-list thead th {
    background: 0;
    font-size: 14px;
    border-bottom: inherit;
    text-align: left;
    padding-left: 25px;
}

#app .dataTables_wrapper .dataTables_length select {
    font-size: 18px;
    color: #eb276d;
    font-weight: 100;
    padding: 0px 11px 0 5px;
    border: 0;
    outline: 0;
    box-shadow: none;
    margin-top: -10px;
    margin-right: 5px;
    background-image: linear-gradient(45deg, transparent 50%, #EB276D 50%), linear-gradient(135deg, #EB276D 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 5px) calc(1em + -4px), calc(100% - 0px) calc(1em + -4px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

/*#app .dataTables_wrapper .dataTables_length select:after {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    right: -10px;
    border: solid 5px transparent;
    border-top: solid 3px #eb276d;
}*/

#app .dataTables_wrapper .dataTables_length {
    padding: 5px;
    background: 0;
}

#app .dataTables_wrapper {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#app .dataTables_paginate .paginate_button a:hover {
    color: #eb276d;
}

#app .dataTables_paginate #tableServicesList_previous a,
#app .dataTables_paginate #tableServicesList_next a {
    font-size: 42px;
    line-height: 0.8;
}

#app .dataTables_paginate ul li {
    display: inline-block;
}

#app .dataTables_paginate .paginate_button a {
    line-height: 1.2;
    display: block;
    border: 0;
    font-size: 24px;
    background: 0;
    padding: 0 3px;
    color: #C8C8C8;
}

#app .dataTables_paginate .paginate_button.active a {
    color: #eb276d;
}

#app div.dataTables_wrapper div.dataTables_paginate {
    padding-right: 20px;
}

#app div.dataTables_wrapper div.dataTables_length label {
    color: #333333;
    font-weight: 100;
}

#app .dataTables_wrapper .table-list > tbody > tr > td {
    padding: 16px 10px 17px 25px;
    text-align: left;
}

#app .dataTables_wrapper .dataTables_length label {
    padding-left: 20px;
}

#app .table-list > tbody > tr:nth-child(odd) > td {
    background-color: 0;
}

#app .table-list > tbody > tr:nth-child(odd) > td {
    background-color: #FEF0F5;
}

.border-style-gradient:before {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    right: -11px;
    bottom: 4px;
    width: 15px;
    background: #fff;
    z-index: 9;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.border-style-gradient:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: -11px;
    bottom: 4px;
    width: 15px;
    background: #fff;
    z-index: 9;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.border-style-gradient {
    border: inherit !important;
    padding: 10px 0;
    position: relative;
    border-left: 15px solid #EB276D;
    border-right: 15px solid #1E1250;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 4px;
    -moz-background-size: 100% 4px;
    background-size: 100% 4px;
    background-image: -webkit-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -webkit-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
    background-image: -moz-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -moz-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
    background-image: -o-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -o-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
    background-image: linear-gradient(to right, #EB276D 0%, #1E1250 100%), linear-gradient(to right, #EB276D 0%, #1E1250 100%);
}

#app #order-standard_cart .product-info {
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    border-radius: 10px;
    background: #fff;
    border: none;
    text-align: center;
    padding: 0;

}

#app #order-standard_cart .product-info .product-title {
    padding: 25px 0 0;
}

#app #order-standard_cart .product-info ul {
    padding: 0;
    margin: 0;
}

#app #order-standard_cart .product-info ul li {
    padding: 10px;
    margin: 0;
}

#app #order-standard_cart .product-info ul li:nth-child(odd) {
    background: #fef0f5;
}

#app #order-standard_cart .product-info ul li span {
    display: block;
    text-align: center;
}

#app #order-standard_cart .product-info ul li span:nth-child(2) {
    font-size: 18px;
}

#app #order-standard_cart .field-container {
    position: relative;
}

#app #order-standard_cart intut {
    height: 50px;
}

#app #order-standard_cart select.form-control {
    position: relative;
    display: block;
    height: 50px;
    cursor: pointer;
}

#app #order-standard_cart label[for="inputBillingcycle"]:before {
    content: ">";
    transform: rotate(90deg) scale(0.5, 1);
    color: #EB276D;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 12px;
    top: 70px;
    z-index: 2;
    font-size: 29px;
    pointer-events: none;
}

#app .input-group {
    min-height: 50px;
}

#app .input-group input, #app .domains-row input, #app .form-group input {
    min-height: 50px;
}

#app .domains-row .form-control-static {
    line-height: 38px;
}

#app .domain-input-group button.btn {
    height: 50px;
    padding: 10px 15px;
}

#app #order-standard_cart .order-summary .product-group {
    font-style: normal !important;
}

#app #orderSummary .summary-container .clearfix {
    display: flex;
    justify-content: space-between;
}

#app #orderSummary .summary-container .clearfix:before,
#app #orderSummary .summary-container .clearfix:after {
    display: none;

}

#app #orderSummary .summary-container .clearfix .pull-left:first-letter {
    text-transform: uppercase;
}

#app #orderSummary .summary-container .clearfix .pull-left {
    line-height: 1.1;
    margin-bottom: 15px;
}

#app #orderSummary .summary-container .clearfix .pull-right {
    white-space: nowrap;
}

#app #orderSummary .summary-container > .clearfix {
    display: none;
}

#app .total-due-today {
    padding: 25px 0;
}

#app #order-standard_cart .order-summary .total-due-today span {
    padding-top: 10px;
}

#app #order-standard_cart .order-summary .total-due-today span.amt + span {
    display: none;
}

#app #order-standard_cart .order-summary .total-due-today-padded {
    padding: 0;
    margin: 0;
}

#app #order-standard_cart label {
    /*font-size: 22px;*/
    font-size: 16px;
    margin-top: 25px;
    font-weight: normal;
}

#app #order-standard_cart .prepend-icon label {
    /*margin-top: 5px;*/
    margin: 0;
}

#app #order-standard_cart .sub-heading {
    margin-top: 20px;
    margin-bottom: 10px;
}

#app #order-standard_cart .sub-heading span, #app #order-standard_cart .sub-heading-borderless span {
    font-size: 22px;
    color: #000;
}

#app #inputCountry, #app #inputCountryIcon {
    /*display: none;*/
}

#frmCheckout .col-sm-5 {
    display: none;
}

#frmCheckout .col-sm-4 {
    min-width: 75%;
}

#frmCheckout .bootstrap-switch {
    border: none;
    overflow: visible;
    transform: none !important;
}

#frmCheckout .bootstrap-switch span {
    display: none !important;
}

#frmCheckout .bootstrap-switch input {
    display: block;
    border: 1px solid #ccc;
    width: 25px;
    height: 25px;
    opacity: 1;
    top: -90px;
}

.marketing-email-optin p {
    padding-left: 45px;
}

#app #order-standard_cart .domain-pricing {
    /*display: none;*/
}

#app #order-standard_cart .domain-promo-box {
    display: none;
}

#app #containerNewUserSignup .row:nth-child(4) .col-sm-12:nth-child(5) {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

#app .sidebar-secondary div[menuitemname="Categories"], #app .sidebar-secondary div[menuitemname="Actions"], #app .sidebar-secondary div[menuitemname="Account"] {
    display: none;
}

#app .client-home-panels .panel.panel-default {
    height: 205px;
}

#app .modal-dialog {
    margin-top: 150px;
}

#app .modal-backdrop.fade.in {
    display: none !important;
}

#app .float-right {
    float: right;
}

#app .tab_face {
    width: 100%;
    white-space: nowrap;
    margin-bottom: -5px;
}

#app .tab_face a.active {
    color: #fff;
    background: transparent;
    border-color: transparent;
}

#app .tab_face a:hover {
    background: transparent;
    border-color: transparent;
}

#app .tab_face a {
    border-width: 2px;
    background: #ffffff;
    font-size: 18px;
    width: 33.6%;
    margin-left: -6px;
    border-radius: 0;
}

@media (max-width: 575px) {
    section#main-body {
        padding-top: 85px;
    }
}

/*
.toggle-radio {
    position: relative;
    display: block;
    height: 59px;
    width: 151px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 18px;
}

.toggle-radio .switch {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 50px;
    text-align: center;
    margin: -30px 0 0 -75px;
    background: -webkit-gradient(linear, right top, left top, color-stop(0, #eb276d), color-stop(25%, #e45c9a), color-stop(50%, #ae65b6), color-stop(75%, #6448b6), to(#3b2c79));
    background: -webkit-linear-gradient(right, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);
    background: -moz-linear-gradient(right, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);
    background: -o-linear-gradient(right, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);
    background: linear-gradient(-90deg, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);
    transition: all 0.2s ease;
    border-radius: 25px;
}

.toggle-radio .switch span.lineImg {
    font-size: 18px !important;
    position: absolute;
    width: 20px;
    height: 4px;
    top: 50%;
    left: 50%;
    margin: -2px 0px 0px -4px;
    background: #fff;
    display: block;
    transform: rotate(-45deg);
    transition: all 0.2s ease;
}

.toggle-radio .switch span:after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 12px;
    margin-top: -8px;
    background: #fff;
    transition: all 0.2s ease;
}

.toggle-radio input[type=radio] {
    display: none;
}

.toggle-radio .switch label {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.2);
    width: 60px;
    line-height: 50px;
    transition: all 0.2s ease;
}

.toggle-radio label[for=res_yes],
.toggle-radio label[for=residentRB_yes] {
    position: absolute;
    left: 0px;
    height: 20px;
}

.toggle-radio label[for=res_no],
.toggle-radio label[for=residentRB_no] {
    position: absolute;
    right: 0px;
}

.toggle-radio #res_no:checked ~ .switch,
.toggle-radio #residentRB_no:checked ~ .switch {
    background: -webkit-gradient(linear, right top, left top, color-stop(0, #eb276d), color-stop(25%, #e45c9a), color-stop(50%, #FF3C41), color-stop(75%, #FF3C41), to(#FF3C41));
    background: -webkit-linear-gradient(right, #eb276d 0, #e45c9a 25%, #FF3C41 50%, #FF3C41 75%, #FF3C41 100%);
    background: -moz-linear-gradient(right, #eb276d 0, #e45c9a 25%, #FF3C41 50%, #FF3C41 75%, #FF3C41 100%);
    background: -o-linear-gradient(right, #eb276d 0, #e45c9a 25%, #FF3C41 50%, #FF3C41 75%, #FF3C41 100%);
    background: linear-gradient(-90deg, #eb276d 0, #e45c9a 25%, #FF3C41 50%, #FF3C41 75%, #FF3C41 100%);
}

.toggle-radio #res_no:checked ~ .switch span.lineImg,
.toggle-radio #residentRB_no:checked ~ .switch span.lineImg {
    background: #fff;
    margin-left: -8px;
}

.toggle-radio #res_no:checked ~ .switch span.lineImg:after,
.toggle-radio #residentRB_no:checked ~ .switch span.lineImg:after {
    background: #fff;
    height: 20px;
    margin-top: -8px;
    margin-left: 8px;
}

.toggle-radio #res_yes:checked ~ .switch label[for=res_yes],
.toggle-radio #residentRB_yes:checked ~ .switch label[for=residentRB_yes] {
    color: #fff;
}

.toggle-radio #res_no:checked ~ .switch label[for=res_no],
.toggle-radio #residentRB_no:checked ~ .switch label[for=residentRB_no] {
    color: #fff;
}*/
.tg-list-item {
    margin: 5px 0 30px;
}

.tg-list-item span.text-tg-check {
    display: inline-block;
    position: relative;
    top: -13px;
    padding: 0 7px;
}

input.tgl {
    display: none;
}

.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
}

.tgl + .tgl-btn {
    outline: 0;
    display: inline-block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.tgl + .tgl-btn:after {
    left: 0;
}

.tgl + .tgl-btn:before {
    display: none;
}

.tgl:checked + .tgl-btn:after {
    left: 50%;
}

.tgl-light + .tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
}

.tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: -webkit-gradient(linear, right top, left top, color-stop(0, #eb276d), color-stop(25%, #e45c9a), color-stop(50%, #ae65b6), color-stop(75%, #6448b6), to(#3b2c79));
    background: -webkit-linear-gradient(right, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);
    background: -moz-linear-gradient(right, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);
    background: -o-linear-gradient(right, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);
    background: linear-gradient(-90deg, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);
    transition: all 0.2s ease;
}

.tgl-light:checked + .tgl-btn {
    background: -webkit-gradient(linear, right top, left top, color-stop(0, #eb276d), color-stop(25%, #e45c9a), color-stop(50%, #ae65b6), color-stop(75%, #6448b6), to(#3b2c79));
    background: -webkit-linear-gradient(right, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);
    background: -moz-linear-gradient(right, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);
    background: -o-linear-gradient(right, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);
    background: linear-gradient(-90deg, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);
}

.tgl-ios + .tgl-btn {
    font-size: 13px !important;
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
    border: 1px solid #e8eae9;
    box-shadow: 0 0 5px #3b2c79c4;
}

.tgl-ios + .tgl-btn:after {
    border-radius: 2em;
    background: #fbfbfb;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.tgl-ios + .tgl-btn:hover:after {
    will-change: padding;
}

.tgl-ios + .tgl-btn:active {
    box-shadow: inset 0 0 0 2em #e8eae9;
}

.tgl-ios + .tgl-btn:active:after {
    padding-right: 0.8em;
}

.tgl-ios:checked + .tgl-btn {
    background: -webkit-gradient(linear, right top, left top, color-stop(0, #eb276d), color-stop(25%, #e45c9a), color-stop(50%, #ae65b6), color-stop(75%, #6448b6), to(#3b2c79));
    background: -webkit-linear-gradient(right, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);
    background: -moz-linear-gradient(right, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);
    background: -o-linear-gradient(right, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);
    background: linear-gradient(-90deg, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);
}

.tgl-ios:checked + .tgl-btn:active {
    box-shadow: none;
}

.tgl-ios:checked + .tgl-btn:active:after {
    margin-left: -0.8em;
}

.d-none {
    display: none !important;
}
