<template>
    <div class="last-news-widget">
        <h3>{{lastNews.title}}</h3>
        <v-layout wrap>
            <v-flex xs12 sm4 lg12 v-for="element in lastNews.elements" :key="element.sort" class="widget__card">
                <div v-if="element.imageUrl" class="img">
                    <img :src="element.imageUrl">
                </div>
                <div class="img nophoto" v-else>
                    <img src="/local/assets/images/bg/news.png" alt="">
                </div>
                <div class="date">{{element.date}}</div>
                <div class="widget-link">
                    <a :href="element.href">{{element.title}}</a>
                </div>
                <!-- /.link -->
            </v-flex>
        </v-layout>
    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>