@import "../../../../styles/general/vars";
@import "../../../../styles/general/mixins";
#app{
    .last-news-widget {
        .widget__card {
            margin-bottom: 25px;
        }
        .img {
            img {
                max-width: 100%;
                border-radius: 12px;
            }
        }
        .date{
            font-size: 15px;
            text-transform: uppercase;
            color: $color--gray;

        }
        .widget-link {
            font-weight: 500;
            a {
                color: $color--dark;
                &:hover {
                    border-color: transparent;
                    color: $color--pinky;
                }
            }
        }
    }
}
@include media575 {
    #app{
        .last-news-widget {
            .widget__card {
                margin-bottom: 30px;
                border-bottom: 1px solid rgba(0,0,0,0.1);
            }
        }
    }
}