<template>
    <v-container class="special-offer" :class="rootClass">
        <v-layout>
            <v-flex xs12 class="special-offer__box mix-gradient">
                <div class="inner just-num-46">
                    <div class="text">
                        <h4>Специальное предложение</h4>
                        <h3>{{title}}</h3>
                    </div>
                    <!-- /.text -->
                    <div v-if="button" class="special-offer__box_btn">
                        <v-btn flat :href="button.href">{{button.text}}</v-btn>
                    </div>
                    <!-- /.link -->

                </div>
                <!-- /.inner -->

            </v-flex>
            <div class="col-4">

            </div>
        </v-layout>
    </v-container>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>
