<template>
    <div v-if="items && items.length">
        <div v-if="items.length > 1">
            <v-container>
                <div class="tabs">
                    <ul>
                        <li v-for="(item, itemIndex) in items" :class="{'active': itemIndex === start}">
                            <a :title="item.title" @click="changeTab(itemIndex)">{{item.title}}</a>
                        </li>
                    </ul>
                </div>
            </v-container>
        </div>

        <FeaturesList v-for="(item, itemIndex) in items" v-if="itemIndex === start" :initial="item.initial"></FeaturesList>
    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>
