@import "../../../../styles/general/vars";
@import '../../../../styles/general/_mixins.scss';


.tabs {
  text-align: center;

  ul {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.15);
    border-radius: 6px;
    list-style: none;
    margin: 0;
    padding: 5px !important;

    &:after {
      display: table;
      clear: both;
      content: "";
    }

    li {
      margin: 0 5px 0 0 !important;
      padding: 0 !important;
      float: left;

      &:last-child {
        margin: 0 !important;
      }

      &:before {
        display: none;
      }

      a {
        background: none;
        color: #fff !important;
        border-radius: 6px;
        padding: 15px 24px;
        display: block;
        text-decoration: none !important;
        border: none !important;

        &.search-and-transfer-domain_help {
          padding-right: 38px;
          background: url("/local/assets/images/icons/help.svg") no-repeat right 16px center;
        }
      }

      &.active {
        a {
          background-color: #8EC344;
        }
      }
    }
  }
}
