<template>
    <div class="section--achievements white-section">
        <div class="just-num-5">
            <h2>{{title}}</h2>
        </div>
        <v-container>
            <v-layout wrap>
                <v-flex xs12 lg6 v-for="(element, index) in currentElements" @click="openPopup(element)" :key="index">
                 <v-layout  wrap class="achievement-card">
                     <v-flex xs12 sm4 class="just-num-5" v-if="element.imageUrl">
                         <img :src="element.imageUrl" alt="">
                     </v-flex>
                     <v-flex xs12 sm8 class="just-num-7">
                         <span  class="link">{{element.title}}</span>
                     </v-flex>
                 </v-layout>

                </v-flex>
            </v-layout>
        </v-container>
        <div v-show="popup && popupsData">
            <AchievementsPopup
                    v-on:close="popup = false"
                    :data="popupsData"></AchievementsPopup>
        </div>
        <div class="just-num-5 see-more-button" >
            <v-btn flat class="btn--pinky" v-if="showButton" @click="showMore()">{{button.text}} {{currentCount}}/{{elements.length}}</v-btn>
        </div>
    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>