@import '../../../../styles/general/_vars.scss';
@import '../../../../styles/general/_mixins.scss';

#app{
    .section--achievements{
        padding-bottom: 50px;
        h2 {
            text-align: center;
        }
        .achievement-card {
            margin: 0;
            border-radius: 12px;
            box-shadow: 0 3px 15px rgba(0,0,0,.15);
            padding: 15px;
            transition: .4s;
            &:hover {
                box-shadow: 0 1px 4px rgba(0,0,0,.2);
            }
            .link {
                color: $color--dark;
                border-bottom: none;
                font-weight: 500;
                &:hover {
                    color: $color--pinky;
                }
            }
            img {
                max-width: 100%;
            }
        }
        .see-more-button {
            padding: 50px 0;
        }
    }
}