<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper" @click.self="$emit('close')">
                <div class="modal-container">
                    <div class="closepopup"  @click="$emit('close')"><img src="/local/assets/images/icons/cross.svg" alt=""></div>
                    <h3 v-if="data.title">{{data.title}}</h3>
                    <img v-if="data.imageUrl" :src="data.imageUrl" alt="">
                    <div v-html="data.description"></div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>