@import "../../../../styles/general/vars";
@import '../../../../styles/general/_mixins.scss';

.modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        min-width: 300px;
        width: 580px;
        max-width: 90vw;
        margin: 0px auto;
        padding: 25px 40px 70px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
        position: relative;
      img {
        max-width: 100%;
      }

      h3 {
        font-weight: 600 !important;
        margin-bottom: 20px;
      }

      .closepopup {
        text-align: right;
        img {
          position: absolute;
          right: 8px;
          top: 12px;
          cursor: pointer;
          opacity: .5;
          transition: .3s;
          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
@include media575 {
  .modal-container{
    max-width: 100vw;
    border-radius: 0;
    padding:25px 10px;
    .modal-header h3 {
      margin-bottom: 10px;
    }

  }
}