<template>
    <div class="banner" :class="bannerClass">
        <img class="banner__img-bg" :src="img">
        <v-container>
            <div class="banner-slider" id="banner-slider">
                <div class="banner-slide" v-for="(slide, slideIndex) in slides">
                    <div class="banner-slide__type">{{slide.type}}</div>
                    <div class="banner-slide__name">{{slide.name}}</div>
                    <div class="banner-slide__text">{{slide.desc}}</div>
                    <div class="banner-slide__link">
                        <a :href="slide.link">{{slide.link_text}}</a>
                    </div>
                </div>
            </div>
        </v-container>
    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>