@import '../../../../styles/general/_vars.scss';
@import '../../../../styles/general/_mixins.scss';

.banner {
    padding-bottom: 50px;
}
.banner__img-bg {
    position: absolute;
    z-index: 1;
    top:0;
    left: calc(50% - 960px);
}

.banner-slider {
    margin-top: 70px;
}

.banner-slide {

    &__type {
        color: $color--pinky;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__name {
        margin-top: 18px;
        font-size: 44px;
        font-weight: bold;
        color: #fff;
    }

    &__text {
        margin-top: 50px;
        color: #fff;
    }

    &__link {
        margin-top: 5px;
        a {

        }
    }
}

@include media959 {
    .banner__img-bg {
        opacity: .6;
    }
}

@include media575 {
    .banner__img-bg {
        opacity: .5;
    }
}


