<template>
    <div class="section--phones-block">
        <v-container>
            <v-layout wrap>
                <v-flex xs12 lg6 class=" contact-phones">
                    <h2>{{saleDepartment.title}}</h2>
                    <div>
                        <a
                            class="h3 phone-white"
                           :href="`tel: ${saleDepartment.mainPhone}`">{{saleDepartment.mainPhone}}</a>
                    </div>
                    <!-- /.h3 -->
                    <div class="just-num-7 just-wrap " v-if="saleDepartment.additionalContacts|| saleDepartment.workTime">
                        <div class="adittional-contact-list">
                            <div v-for="additionalContact in saleDepartment.additionalContacts" class="adittional-contact-list__item just-num-46">
                                <div class="num">
                                    <a class="phone-white" :href="`tel: ${additionalContact.phone}`">{{additionalContact.phone}}</a>
                                </div>
                                <div class="operator">
                                    <span>{{additionalContact.operator}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="adittional-contact-list">
                            <div v-for="work in saleDepartment.workTime" class="adittional-contact-list__item">
                                <div class="worktime">
                                    {{work}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.just-num-79 just-wrap -->
                    <p class="email">
                        <a href="#">{{saleDepartment.email}}</a>
                    </p>
                </v-flex>
                <v-flex xs12 lg6 class="bannerchat">
                    <h2>{{support.title}}</h2>
                    <div class="just-num-4 just-wrap">
                        <div class="image"><img src="/local/assets/images/icons/pretty-link-leaf.svg" alt=""></div>
                        <div class="text">
                            <span v-html="support.textAfterImage"></span>
                        </div>
                        <v-btn flat  class="btn--leaf" :href="support.button.href">
                            {{support.button.text}}
                        </v-btn>
                    </div>
                    <p class="email">
                        <a href="#">{{support.email}}</a>
                    </p>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
    <!-- /.section--phones-block -->
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>