@import '../../../../styles/general/_vars.scss';
@import '../../../../styles/general/_mixins.scss';

#app {
    .section--phones-block {

        h2 {
            margin-bottom: 20px;
        }

        .h3 {
            margin-bottom: 15px;
        }

        .container {
            padding-top: 50px;
            padding-bottom: 50px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
        .bg-img {
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
        }

        .email {
            a {
                border-color: $color--pinky;
                &:hover {
                    border-color: transparent;
                }
            }
        }

        .btn, .v-btn {
            border-color: $color--leaf;
            color: #fff;
            &:hover {
                border-color: $color--leaf;
            }
        }

        .num {
            width: 85%;
        }
        .operator {
            width: 15%;
        }
        .worktime {
            padding-left: 50px;
        }

        .operator, .worktime {
            font-size: 14px;
            color: $color--gray;
        }

        .bannerchat {
            h2 {
                margin-bottom: 50px;
            }
            .text {
                padding: 5px 25px;
                font-size: 24px;
                line-height: 1.5;
            }
            .email {
                padding-left: 100px;
            }
        }
    }

}