<template>
    <div class="white-section section-arrow-top section-slider stick-up">

        <div class="mainslider" ref="mainSlider" :style="{height: sliderHeight+'px'}">
            <div v-for="(item, index) in slides" class="slide" :class="{'prev' : (previous === index+1), 'current': (current === index+1), 'next' : (next === index+1)}">
                <div v-if="item.imageUrl" class="slider-image">
                    <img :src="item.imageUrl" alt="">
                </div>
                <div class="slide-content" :class="{full: !item.src}" ref="sliderContent">
                        <div class="slider-title">
                            <div class="name">{{ item.title }}</div>

                        </div>
                    <div v-if="item.description" class="description">{{ item.description }}</div>
                    <div v-if="item.button">
                        <a class="link-with-arrow" :href="item.button.href">{{item.button.text}}</a>
                    </div>
                    </div>


                </div>
            </div>

        <div v-if="slides && slides.length > 1" class="navigation slider-navigation-tabs mix-gradient just-num-46 just-wrap">
            <div class="tab just-num-5" v-for="(slideNav, index) in slides" :class="{'prev' : (previous === index+1), 'current': (current === index+1), 'next' : (next === index+1)}" @click="sliderJump(index+1)">{{slideNav.title}}</div>
        </div>
        </div>

</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>