@import "../../../../styles/general/vars";
@import "../../../../styles/general/mixins";
#app {
  .mainslider {
    position: relative;
    height: 610px;
    .slide {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      .slider-image {
        position: absolute;
        transition: .4s;
        top: 1vw;
        left: calc(50% - 700px);
        z-index: 1;
        /*transform: perspective(1500px) rotateY(-90deg) scale(0.8, 0.3);*/
        opacity: 0;
      }
      .slide-content {
        position: absolute;
        opacity: 0;
        transition: .6s;
        z-index: 10;
        top: 100px;
        height: auto;
        left: 75vw;
        width: 450px;
        max-width: 100%;
        text-align: left;

        .slider-title {
          font-size: 45px;
          line-height: 1.2;
          font-weight: 500;
          width: 250px;
          margin-bottom: 20px;
          margin-top: 45px;
        }
        .description {
          font-size: 18px;
          width: 410px;
          max-width: 100%;
          margin-bottom: 20px;
        }
      }

      &.current {
        z-index: 9;
        .slider-image {
          transition: .4s;
          /*transform: perspective(1500px) rotateY(0deg) scale(1, 1);*/
          opacity: 1;
          z-index: 9;
        }
        .slide-content {
          transition: .6s .1s;
          opacity: 1;
          left: 57vw;
          z-index: 12;
        }
      }

      &.prev {
        .slide-content {
          left: 35vw;
        }
      }
    }
  }

  .slider-navigation-tabs {
    width: 640px;
    height: 90px;
    position: relative;
    z-index: 11;
    margin: auto;
    bottom: 80px;
    padding: 5px;
    border-radius: 4px;

    .tab {
      width: 33.3333%;
      height: 100%;
      border-radius: 4px;
      color: #fff;
      text-align: center;
      padding: 25px;
      cursor: pointer;
      background: transparent;
      transition: .8s;
      &:hover {
        text-decoration: underline;
      }
      &.current {
        color: $color--dark;
        background: #fff;
        cursor: default;
        text-decoration: none;
      }

    }
  }
}
@include media959 {
  #app {
    .mainslider .slide.current .slide-content {
      left: 65px;
      right: 65px;
      width: calc(100% - 130px);
    }
    .mainslider .slide.current .slider-image {
      opacity: .4;
      left: calc(50% - 450px);
    }
  }
}

@include media767 {
  #app {
    .mainslider {

      height: 440px;
    }
    .mainslider .slide.current .slide-content {
      top: 0;
      left: 15px;
      right: 15px;
      width: calc(100% - 30px);
    }
    .slider-navigation-tabs {
      height: auto;
      width: calc(100% - 30px);
    }
    .slider-navigation-tabs .tab {
      width: 100%;
      padding: 5px;
    }
  }
}
