<template>
    <div class="section--clients white-section section-arrow-top">
        <v-container>
            <v-layout>
                <v-flex xs12 class="just-num-5">
                    <h3>{{title}}</h3>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-flex xs12>
                    <div class="slider-logos">
                            <div class="col" v-for="(logo, index) in slides" v-if="index+1 & 1" >
                               <div class="just-num-5">
                                   <img :src="logo" alt="">
                               </div>
                                <div class="just-num-5">
                                    <img :src="slides[index+1]" alt="">
                                </div>

                            </div>
                            <!-- /.col just-num-5 -->
                    </div>
                    <!-- /.slider-logos -->
                </v-flex>
            </v-layout>
        </v-container>
    </div>
    <!-- /.section--clients white-section -->
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>