<template>
    <div>
        <div v-if="errors.length > 0" class="errors-list" xs12>
            <ul>
                <li class="red--text" v-for="error in errors">{{error}}</li>
            </ul>
        </div>
        <div v-if="success" class="green--text">Сообщение успешно отправлено!</div>
        <div class="form">
            <v-form ref="form" v-on:submit.prevent.stop="saveFields" :action="api" method="post">
                <div class="form-row v-input-row" v-for="field in form">
                    <v-textarea v-if="field.type==='textarea'"
                                :name="field.value"
                                v-model="field.value"
                                :label="field.label"
                                :value="field.value"
                                :rules="fieldRules"
                                :required="field.required"
                    >
                    </v-textarea>
                    <v-text-field v-else-if="field.type==='email'"
                                  v-model="field.value"
                                  :label="field.label"
                                  :required="field.required"
                                  :rules="emailRules"
                                  :value="field.value"
                    >
                    </v-text-field>
                    <v-text-field v-else=""
                                  v-model="field.value"
                                  :label="field.label"
                                  :required="field.required"
                                  :rules="fieldRules"
                                  :value="field.value"
                    >
                    </v-text-field>
                </div>
                <!-- /.form-row -->
                <div>
                    <input type="submit" class="v-btn btn--pinky btn--alt btn--banner">
                </div>
            </v-form>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'Feedback',
    props: ['form', 'api'],
    data () {
      return {
        errors: [],
        isFormIsValid: true,
        success: false,
        emailRules: [
          value => {
            if (!!value) {
              this.isFormIsValid = true
              return true
            } else {
              this.isFormIsValid = false
              return 'E-mail обязателен'
            }
          },
          value => {
            if (/.+@.+\..+/.test(value)) {
              this.isFormIsValid = true
              return true
            } else {
              this.isFormIsValid = false
              return 'E-mail неправильный'
            }
          }
        ],
        fieldRules: [
          value => {
            if (!!value) {
              this.isFormIsValid = true
              return true
            } else {
              this.isFormIsValid = false
              return 'Поле обязательно к заполнению'
            }
          }
        ],
        rules: true
      }
    },
    methods: {
      async saveFields () {
        if (!this.isFormIsValid) {
          this.errors = [].push('Заполните форму')
          return false
        }

        this.errors = []

        let data = this.getFormData()

        let response = await this.$http.post(this.api, {
          fields: data
        })

        if (response.body.success) {
          this.success = true
        } else {
          this.success = false
          this.errors = Object.values(response.body.errors)
        }

        return true
      },
      getFormData () {
        let preparedParams = {}

        Object.keys(this.form).map((key) => {
          preparedParams[key] = this.form[key].value
        })

        return preparedParams
      }
    }
  }
</script>

<style lang="scss" scoped>
    @import '../../../styles/general/_mixins.scss';

    form {
        width: 90%;
        .v-btn {
            margin-left: 0;
        }
    }

    @include media1280 {
        form {
            width: 100%;
        }
    }
</style>
