<template>
    <div ref="Map" class="mapwrap"></div>
</template>

<script>
  export default {
    name: 'Map',
    data () {
      return {
        zoom: 11
      }
    },
    props: ['coordinationCenterY', 'coordinationCenterX'],
    methods: {
      createMap () {
        return new window.google.maps.Map(this.$refs.Map, {
          zoom: this.zoom,
          center: new window.google.maps.LatLng(this.coordinationCenterY, this.coordinationCenterX)
        })
      },
      createMarker (map) {
        let markerPosition = new window.google.maps.LatLng(this.coordinationCenterY, this.coordinationCenterX)

        let image = {
          size: new window.google.maps.Size(71, 79),
          url: '/local/assets/images/icons/mapmarker.png'
        }

        let marker = new window.google.maps.Marker({
          position: markerPosition,
          map: map,
          icon: image
        })

        marker.setMap(map)
      },
    },
    mounted () {
      let map = this.createMap()
      this.createMarker(map)
    }
  }
</script>

<style lang="scss" scoped>
    .mapwrap {
        width: 100%;
        height: 420px;
        margin-top: 18px;
    }
</style>