<template>
    <div class="white-section">
        <v-container class="special-offer">
            <v-layout>
                <v-flex xs12 class="special-offer__box mix-gradient">
                    <div class="inner just-num-46">
                        <div class="text">
                            <h4>Обращаем внимание</h4>
                            <h3 v-html="title"></h3>
                        </div>
                        <!-- /.text -->
                        <div v-if="button">
                            <v-btn flat :href="button.href">{{button.text}}</v-btn>
                        </div>
                        <!-- /.link -->

                    </div>
                    <!-- /.inner -->

                </v-flex>
                <div class="col-4">

                </div>
            </v-layout>
        </v-container>
    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>