@import "../../../../styles/general/vars";
@import '../../../../styles/general/_mixins.scss';

#app {
  .special-offer {
    margin: 0 auto;
    padding: 50px 0;
    .special-offer__box {
      padding: 4px;
      border-radius: 4px;
      .inner {
        border-radius: 4px;
        padding: 15px 35px;
        background: #fff;

        h4 {
          text-transform: uppercase;
          color: $color--pinky;
          font-size: 15px;
        }
        h3 {
          max-width: 951px;
          margin-top: 5px;
          color: #333333;
          font-size: 18px;
          line-height: 29px;
        }

        .btn, .v-btn {
          color: #fff;
          border-color: $color--pinky;
        }
      }
    }
  }
}

@include media575 {
  #app {
    .special-offer {
      .layout {

        margin-left: 0;
        margin-right: 0;
      }
      .special-offer__box {
        .inner {
          flex-wrap: wrap;
          justify-content: flex-start;
          h3 {
            font-size: 17px;
          }

          .text {
            h4 {
              font-size: 18px;
            }
            width: 100%;
            margin-bottom: 15px;
            h3 {
              font-size: 15px;
              font-weight: 300;
            }
          }
          .v-btn {
            margin-left: 0;
          }
        }
      }
    }
  }
}