<template>
    <v-container class="page-content rates-list">
        <v-layout class="row navigation">
            <v-flex xs3 class="col just-num-5 tab" v-for="(periodModeCode) in periods" :key="periodModeCode"
                    @click="setPeriodMode(periodModeCode)" :class="{active: currentPeriodMode === periodModeCode}">
                <span>{{ priceDictionary[periodModeCode]['title'] }}</span>
            </v-flex>
        </v-layout>
        <div class="Rates just-num-79 just-wrap">
            <div v-if="rate.price" class="RatesList" v-for="(rate, index) in currentRates" :key="rate.sort">
                <div class="hit" v-if="rate.hit" :class="rate.color">
                    <img src="/local/assets/images/icons/star-white.svg" alt="" class="hit-icon">
                    <span>ХИТ</span>
                </div>
                <div class="col">
                    <h3 class="tarif-name">
                        {{rate.name}}</h3>
                    <h3 class="price-grid just-num-8">
                        <span class="text">от</span>
                        <span class="price">
                            {{getRubles(rate.price, currentPeriodMode)}}<sup>{{getPennies(rate.price, currentPeriodMode)}}</sup>
                        </span>
                        <span class="text">{{getCurrency(rate.price)}} <br/> {{priceDictionary[currentPeriodMode]['period']}}</span>
                    </h3>
                    <p class="economy" v-if="rate.discountPrice">
                        Экономия {{rate.discountPrice.value}} {{getCurrency(rate.discountPrice)}} за {{getPeriod(rate.discountPrice)}}
                    </p>
                    <p class="note color--gray">{{rate.description}}</p>
                    <table class="decorated-list">
                        <tr v-for="feature in rate.features">
                            <td class="name">{{feature.name}}</td>
                            <td>
                            <span v-if="feature.value.toLowerCase() === 'infinity'">
                                <svg v-svg
                                     symbol="svg-icon-infinity"
                                     size="0 0 28 28"
                                     role="presentation"
                                     class="param-icon"
                                ></svg>
                                <!--<svg width="28" height="28" class="param-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                             href="/local/assets/images/icons/_sprite.svg#svg-icon-infinity"></use></svg>-->
                            </span>
                                <span v-else-if="feature.value.toLowerCase() === 'да'">
                                <span class="param-icon">&#10003;</span>
                            </span>
                                <span v-else-if="feature.value">{{feature.value}}</span>
                            </td>
                        </tr>
                    </table>
                    <div class="row" v-if="rate.buttonToOrder">
                        <v-btn block class="btn--long"
                               dark
                               :class="{'btn--leaf': true, 'active': rate.hit}"
                               :href="rate.buttonToOrder.href">
                            <div>{{rate.buttonToOrder.text}}</div>
                        </v-btn>
                    </div>
                    <div class="row just-num5" v-if="rate.buttonToTry">
                        <a class="note test-free color--gray" :href="rate.buttonToTry.href">
                            {{rate.buttonToTry.text}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </v-container>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>
