@import "../../../../styles/general/vars";
@import "../../../../styles/general/mixins";
@import "../../../../styles/local/rates";

#app {
  .rates-list {
    margin: 70px auto;
    .navigation {
      width: 626px;
      max-width: 100%;
      min-width: 0;
      background: rgba(255,255,255,0.15);
      border: 1px solid rgba(255,255,255,0.5);
      padding: 4px;
      border-radius: 6px;
      margin-bottom: 50px;

      .tab {
        height: 58px;
        border-radius: 4px;
        cursor: pointer;
        &.active {
          background: $color--leaf;
          cursor: default;
        }

      }
    }

    .param-icon {
      width: 28px;
      height: 28px;
      color: $color--leaf;
    }
  }
}

@include media767 {
  #app {
    .rates-list {
      .navigation {
        flex-wrap: wrap;
        max-width :calc(100% - 30px);
        margin-left: 15px;
        .tab {
          min-width: 50%;
          height: 58px;
          border-radius: 4px;
          cursor: pointer;
          &.active {
            background: $color--leaf;
            cursor: default;
          }

        }
      }
    }
  }
}