<template>
    <div class="white-section">
        <v-container>
            <v-layout xs12>
                <v-list v-if="questions">
                    <v-list-group
                            class="row question"
                            v-for="question in questions"
                            v-model="question.active"
                            :key="question.title"
                            prepend-icon="keyboard_arrow_down"
                            no-action
                            sub-group
                    >
                        <v-list-tile slot="activator">
                            <v-list-tile-content>
                                <v-list-tile-title>
                                    {{question.title || question.titleFirstLevel}}
                                </v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>

                        <v-list-tile
                                :key="question.title"
                        >
                            <div class="list-content-wrap text-guide">
                                <div v-html="question.text"></div>

                                <v-list v-if="question.subQuestions" class="twoLevel">
                                    <v-list-group
                                            class="row question"
                                            v-for="subQuestion in question.subQuestions"
                                            v-model="subQuestion.active"
                                            :key="subQuestion.title"
                                            prepend-icon="keyboard_arrow_down"
                                            no-action
                                            sub-group
                                    >
                                        <v-list-tile slot="activator">
                                            <v-list-tile-content>
                                                <v-list-tile-title class="twoLevelTitle">
                                                    {{subQuestion.title}}
                                                </v-list-tile-title>
                                            </v-list-tile-content>
                                        </v-list-tile>

                                        <v-list-tile
                                                :key="subQuestion.title"
                                        >
                                            <div class="list-content-wrap text-guide" v-html="subQuestion.text">

                                            </div>
                                        </v-list-tile>
                                    </v-list-group>
                                </v-list>

                            </div>
                        </v-list-tile>
                    </v-list-group>
                </v-list>
            </v-layout>
        </v-container>
    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>