@import '../../../../styles/general/_mixins.scss';

#app {
  .section--faq {
    margin-top: 120px !important;

    .list {
      padding-top: 70px;
    }
  }
  .twoLevel {
    margin-left: -35px;
    .v-list__tile__title {
      font-size: 24px;
    }
    .question:last-child {
      border-bottom: 0;
    }
  }
}

@include media575 {
  .twoLevel {
    margin-left: 0!important;
    .v-list__tile__title {
      font-size: 20px!important;
    }
  }
}
