<template>
    <div class="detail-card">
        <div class="date">{{currentNews.date}}</div>
        <h1 class="card-title">{{currentNews.title}}</h1>
        <div class="card-img" v-if="currentNews.imageUrl">
            <img :src="currentNews.imageUrl"
                 :alt="currentNews.seo.previewPictureFileAlt"
                 :title="currentNews.seo.previewPictureFileTitle">
        </div>
        <div class="text-guide" v-html="currentNews.text"></div>
    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>