@import "../../../../styles/general/vars";
@import "../../../../styles/general/mixins";
#app{

    .detail-card{
        padding-bottom: 70px;
        border-bottom: 1px solid $color--gray;
        .date{
            font-size: 15px;
            text-transform: uppercase;
            color: $color--gray;
            margin-bottom: 15px;
        }
        .card-title{
            font-size: 34px;
            line-height: (46 / 34);
            font-weight: 500;
            margin-bottom: 15px;
        }
        .card-img {
            padding: 30px 0;
            img {
                max-width: 100%;
                border-radius: 12px;
            }
        }
        .text-guide {
            padding-top: 15px;
            padding-right: 40px;
        }
    }
}

@include media575 {
    #app{

        .detail-card{
            .card-title{
                font-size: 24px;
            }
            .card-img {
                padding: 15px 0;
            }
        }
    }
}