<!-- webpack footer assets -->
    <script src="/local/assets/build/bundle-polyfills.c56ca4325c3721d9b1d2.js" class="js-webpack-asset"></script>
    <script src="/local/assets/build/bundle-app.c56ca4325c3721d9b1d2.js" class="js-webpack-asset"></script>
<!-- ./webpack footer assets -->