<template>
    <div class="white-section section-arrow-top faq-section">
        <v-container>
            <v-layout>
                <v-list>
                    <v-list-group
                            class="category wrap"
                            v-for="item in data"
                            v-model="item.active"
                            :key="item.category"
                            :prepend-icon="item.action"
                            no-action
                    >
                        <v-list-tile slot="activator">
                            <v-list-tile-content>
                                <v-list-tile-title class="title-category">
                                    {{item.category}}
                                </v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>

                        <v-list-tile class="subtile"
                                :key="item.category"
                        >

                            <v-list-group
                                    class="row question"
                                    v-for="question in item.questions"
                                    v-model="question.active"
                                    :key="question.category"
                                    prepend-icon="keyboard_arrow_down"
                                    sub-group
                                    no-action
                            >
                                <v-list-tile slot="activator">
                                    <v-list-tile-content>
                                        <v-list-tile-title class="subtitle">
                                            {{question.title}}
                                        </v-list-tile-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                                <v-list-tile  :key="question.title">
                                    <div class="list-content-wrap text-guide" v-html="question.answer"></div>
                                </v-list-tile>
                            </v-list-group>


                        </v-list-tile>
                    </v-list-group>
                </v-list>
            </v-layout>
        </v-container>

    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>