.checkbox {
  text-align: left;
  user-select: none;

  label {
    position: relative;
    display: inline-block;
    padding-left: 26px;
    cursor: pointer;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &_ui {
    position: absolute;
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background: transparent;
    border: 2px solid #333;

    &:before {
      position: absolute;
      top: -2px;
      left: -2px;
      width: 18px;
      height: 18px;
      background: url("/local/assets/images/icons/check.svg") no-repeat center center;
      opacity: 0;
      content: "";
    }

    input:checked ~ & {
      border-color: transparent;

      &:before {
        opacity: 1;
      }
    }
  }

  &_text {
    color: #333;
    input:checked ~ & {
      color: #8EC344;
    }
  }
}