@import "news";
@import "form";
@import "slick-carousel";

#app {
  transition: .5s;
  .special-offer-white {
    background: #fff;
    .special-offer {
      margin: 0 auto !important;
    }
  }
  /* LIST ACCORDEON */
  .v-list {
    width: 100%;
  }
  .v-list__group__header__prepend-icon {
    padding-left: 12px;
    i {
      color: $color--pinky;
    }
  }
  .v-list__group {
    border-bottom: 1px solid $color--gray;
    padding: 25px 0;
    &.category {
      .v-list__group__header__append-icon {
        padding-left: 10px;
        color: $color--pinky;
      }
      .subtile {
        > .v-list__tile {
          padding-left: 57px;
          .v-list__group {
            padding-top: 40px;
            padding-bottom: 40px;
            border-bottom: none;
            border-top: 1px solid $color--gray;
            .v-list__group__header__prepend-icon, .v-list__group__header__append-icon {
              color: $color--pinky;
              padding-left: 15px;
            }

            &:first-child {

              margin-top: 25px;
            }
          }
        }
      }
      .v-list__tile__title.subtitle {
        font-size: 24px;
      }
      .v-list__group__items {
        .v-list__tile {
          flex-wrap: wrap;
          .v-list__group {
            width: 100%;
          }
        }
      }
    }
  }
  .v-list__tile {
    height: auto;
  }
  .v-list__tile__title {
    font-size: 34px;
    line-height: 1;
    height: auto;
    white-space: normal;
    word-break: normal;
    transition: .1s;
    &:hover {
      color: $color--pinky;

    }
  }
  .v-list__group__header {
    div {
      max-width: 100%;
      overflow: hidden;
    }
    .v-list__group__header__append-icon {
      order: -1;
      .v-icon {
        color: $color--pinky;
      }
    }

  }

  .v-list-content-wrap, .list-content-wrap {
    padding-top: 20px;
    font-weight: 300;
    max-width: calc(100% - 30px);
  }

  .footer {
    .btn, .v-btn {
      margin-top: 12px;
      margin-left: 0;
      color: #fff;
      border: 2px solid;
      text-transform: none;
      &.btn--leaf {
        border-color: $color--leaf;
      }
      &.btn--sea {
        border-color: $color--sea;
      }
    }
  }

  .banner-subscribe {
    padding-bottom: 0;

    h3 {
      max-width: 570px !important;
      margin-top: 40px !important;
    }
  }
  .banner {
    .description {
      h2 {
        font-size: 45px;
        margin-bottom: 30px;
      }
    }
  }
  > div {
    opacity: 0;
  }
  > div.header {
    opacity: 1;
  }
}

@include media575 {
  #app {
    .v-list__tile {
      padding-left: 0;
    }
    .v-list__tile__title {
      font-size: 20px;
      &:hover {
        color: $color--dark;
      }
    }
    .v-list__group__header {
      div {
        max-width: 97%;
      }
      .v-list__group__header__append-icon {
        order: -1;
        min-width: 40px;
        .icon {
          color: $color--pinky;
        }
      }

    }

    .v-list-content-wrap {
      max-width: 100%;
    }

    .mobile-table-wrap {
      width: 100vw;
      margin-left: -35px;
      overflow: auto;
    }

    .v-list__group {
      &.category {

        .subtile {
          > .v-list__tile {
            padding-left: 25px;
            .v-list__group {
              padding-top: 15px;
              padding-bottom: 25px;
            }
          }
        }
        .v-list__tile__title.subtitle {
          font-size: 18px;
        }

      }
    }

  }
  #app .list-content-wrap, #app .v-list-content-wrap {
    margin-left: 15px;
  }
  #app .mobile-table-wrap {
    margin-left: -19px;
  }
}

#loadingStartLogo {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo-block {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      bottom: 10px;
      left: 0;
      height: 14px;
      width: 100%;
      border: solid 2px #fff;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 10px;
      left: 0;
      height: 14px;
      width: 0;
      background: #FFFFFF;
      animation: fullWidth 1.3s infinite ease-in-out;
    }
  }
}

@keyframes fullWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
