.news-container {
  padding-top: 50px;
  .layout {
    padding-bottom: 30px;
    .img {
      position: relative;
      &:after{
        content:'';
        position: absolute;
        display: block;
        top:50%;
        left:0;
        bottom:8px;
        right:0;
        border-radius: 0 0 12px 12px;
      }
      &.nophoto:after {
        display: none!important;
      }
      img {
        max-width :100%;
        border-radius: 12px;
        position: relative;

      }
    }


    &:nth-child(3n+1) .img{
      &:after{
        background: linear-gradient(rgba(235, 39, 109,0), rgba(235, 39, 109,.5));
      }
    }
    &:nth-child(3n+2) .img{
      &:after{

        background: linear-gradient(rgba(140, 197, 58,0), rgba(199, 195, 44, 0.65));
      }
    }
    &:nth-child(3n+3) .img{
      &:after{
        background: linear-gradient(rgba(1, 173, 195,0), rgba(1, 173, 195,.5));
      }
    }
  }

  .pagination-box {
    padding: 50px 0;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      &:before {
        display: none;
      }

      font-size: 18px;
      .v-pagination__navigation {
        box-shadow: none;
        outline: none!important;
        color: $color--pinky;
        &.v-pagination__navigation--disabled{
          color: $color--gray;
          opacity: .9;
        }
      }
      .v-pagination__item {
        box-shadow: none;
        outline: none!important;
        text-align: center;
        display: inline-block;
        &:hover {
          border: 1px solid $color--gray;
        }
        &.v-pagination__item--active {
          border: 2px solid;
          color: $color--pinky;
          display: inline-block;
        }
      }
    }
  }
}