#app {
  .RatesList {
    position: relative;
    width: calc(33.3333% - 10px);
    background: #fff;
    border-radius: 12px;
    color: $color--dark;
    overflow: hidden;
    &:nth-child(2) {
      .decorated-list {
        margin-bottom: 55px;
      }
    }
    .hit {
      display: inline-block;
      position: absolute;
      left: -91px;
      top: 15px;
      width: 270px;
      text-align: center;
      transform: rotate(-37deg);
      background: #8dc43b;
      padding: 0px 0 9px;
      &.hosting-style {
        background: #8dc43b;
      }
      &.virtual-server-style {
        background: #eb276d;
      }

      &.dedicated-server-style {
        background: #01adc3;
      }
      .hit-icon {
        width: 14px;
        height: 14px;
        /*display: block;
        margin: 0 auto;*/
        margin-bottom: -4px;
      }
      span {
        height: 12px;
        width: 100%;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 12px;
        text-align: center;
        display: block;
      }
    }
    .heading {
      font-weight: 300;
      position: relative;
    }
    .col {
      padding: 32px 35px;
      text-align: center;

      h3 {
        font-size: 34px;
        &.tarif-name {
          position: relative;
          width: fit-content;
          margin: 10px auto;
        }

        &.price-grid {
          .text {
            font-size: 14px;
            line-height: 18px;
            text-align: left;
          }
          .price {
            font-size: 40px;
            line-height: 32px;
            padding: 0 10px;
            sup {
              font-size: 50%;
            }
          }

        }
      }
      .btn--long {
        margin: 0 auto;
      }
    }

    ul {
      padding-left: 20px;
      li {
        margin-bottom: 10px;
      }
    }
    .note {
      margin: 30px 0;
    }
    .btn-place {
      margin-top: 30px;
      padding: 0 20px;
    }
    .economy {
      color: $color--pinky;
      font-size: 14px;
      margin-top: 10px;
    }

    .decorated-list {
      border-collapse: collapse;
      width: calc(100% + 70px);
      margin-left: -35px;
      margin-bottom: 35px;

      tr:nth-child(odd) {
        background: rgba(0, 0, 0, 0.05);
      }
      td {
        height: 46px;
        vertical-align: middle;
        padding: 5px;
        padding-left: 35px;
        text-align: left;
        &.name {
          width: 60%;
          font-size: 14px;
        }
        &:last-child {
          padding-left: 0;
          padding-right: 35px;
          text-align: center;
        }
      }

    }
    a.test-free {
      color: $color--gray;
      border-color: $color--gray;
      &:hover {
        border-color: transparent;
      }
    }
  }
}

@include media959 {
  #app {
    .RatesList {

      .col {
        padding: 25px 15px;
        h3 {
          font-size: 26px;
        }
        ul li {
          font-size: 14px;
        }
      }
    }
  }
}

@include media767 {
  #app {
    .RatesList {
      width: calc(100% - 30px);
      margin-left: 15px;
      margin-bottom: 15px;
      border-radius: 0;
    }
  }

}
