<template>
    <div class="search-and-transfer-domain" :class="[rootClass, { 'search-and-transfer-domain_open': open }]">
        <v-container>
            <div class="search-and-transfer-domain__tabs">
                <ul>
                    <li class="active"><a href="#">Найти новый домен</a></li>
                    <li><a class="search-and-transfer-domain_help" href="#">Перенести домен</a></li>
                </ul>
            </div>
            <div class="search-and-transfer-domain__form">
                <form>
                    <div class="search-and-transfer-domain__search">
                        <input type="text" />

                        <a v-on:click="toggleDomains()" class="search-and-transfer-domain__toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>

                        <div class="search-and-transfer-domain__drop">
                            <div class="search-and-transfer-domain__item" v-for="(domain, domainIndex) in domains">
                                <div class="checkbox">
                                    <label :for="getIdDomain(domainIndex)">
                                        <input :id="getIdDomain(domainIndex)" type="checkbox" name="domain" :value="domain.code">
                                        <span class="checkbox_ui"></span>
                                        <span class="checkbox_text">{{domain.text}}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-and-transfer-domain__button">
                        <button>Искать</button>
                    </div>
                </form>
            </div>
        </v-container>

        <SearchAndTransferDomainResult></SearchAndTransferDomainResult>
    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>