@import '../../../../styles/general/_vars.scss';
@import '../../../../styles/general/_mixins.scss';

.search-and-transfer-domain {
    padding-bottom: 50px;

    &.domain-page {
        padding-top: 200px;
    }

    &__tabs {
        text-align: center;

        ul {
            display: inline-block;
            border: 1px solid rgba(255, 255, 255, 0.5);
            background: rgba(255, 255, 255, 0.15);
            border-radius: 6px;
            list-style: none;
            margin: 0;
            padding: 5px !important;

            &:after {
                display: table;
                clear: both;
                content: "";
            }

            li {
                margin: 0 5px 0 0 !important;
                padding: 0 !important;
                float: left;

                &:last-child {
                    margin: 0 !important;
                }

                &:before {
                    display: none;
                }

                a {
                    background: none;
                    color: #fff !important;
                    border-radius: 6px;
                    padding: 15px 24px;
                    display: block;
                    text-decoration: none !important;
                    border: none !important;

                    &.search-and-transfer-domain_help {
                        padding-right: 38px;
                        background: url("/local/assets/images/icons/help.svg") no-repeat right 16px center;
                    }
                }

                &.active {
                    a {
                        background-color: #8EC344;
                    }
                }
            }
        }
    }

    &__form {
        margin-top: 28px;
        text-align: center;

        form {
            display: inline-flex;
            align-items: center;
        }
    }

    &__search {
        position: relative;
        margin-right: 6px;

        input[type="text"] {
            border: 1px solid rgba(255, 255, 255, 0.5);
            background: #fff;
            border-radius: 6px;
            width: 686px;
            height: 40px;
            color: #333;
            padding: 0 47px 0 18px;
        }
    }

    &__button {

        button {
            background: #8EC344;
            color: #fff;
            border-radius: 6px;
            text-align: center;
            height: 40px;
            padding: 0 25px;
            text-transform: uppercase;
            font-size: 14px;
        }

    }

    &__toggle {
        position: absolute;
        top: 50%;
        right: 14px;
        width: 19px;
        margin-top: -11.5px;
        border: none !important;
        cursor: pointer;


        span {
            position: relative;
            border-radius: 3px;
            height: 1px;
            background: #999999;
            display: block;
            margin: 5px 0;
            transition: 0.2s;

            &:nth-child(1){
                &:before {
                    left: 0;
                }
            }

            &:nth-child(2){
                &:before {
                    left: 50%;
                    margin-left: -2.5px;
                }
            }

            &:nth-child(3){
                &:before {
                    right: 0;
                }
            }

            &:before {
                position: absolute;
                transition: 0.2s;
                top: 50%;
                width: 5px;
                height: 5px;
                margin-top: -2.5px;
                background: #999999;
                border-radius: 50%;
                content: "";
            }
        }

        &:hover {
            span {
                background: #8EC344;
                &:before {
                    background: #8EC344;
                }
            }
        }
    }

  &__drop {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    margin-top: 2px;
    border-radius: 6px;
    flex-wrap: wrap;
    z-index: 20;
    padding: 16px 30px;
    display: none;
  }

  &__item {
    max-width: 20%;
    flex: 0 0 20%;
    padding-right: 12px;
    margin: 9px 0;
  }

}

.search-and-transfer-domain_open {
  > .container {
    z-index: 10 !important;
  }
  .search-and-transfer-domain__drop {
    display: flex;
  }
  .search-and-transfer-domain__toggle {
    span {
      background: #8EC344;
      &:before {
        background: #8EC344;
      }
    }
  }
}