<template>
    <div class="section--aout-us white-section">
        <v-container>
            <v-layout class="image-text" v-for="(block, blockIndex) in blocks" :key="blockIndex">
                <v-flex xs12 lg8 class="text-box">
                    <div class="inner">
                        <h2>{{block.title}}</h2>
                        <div class="description">{{block.description}}</div>
                        <div class="advantage">
                            <div class="heading">{{block.advantages.title}}</div>
                            <p>{{block.advantages.text}}</p>
                        </div>
                    </div>
                    <!-- /.image-text -->
                </v-flex>
                <v-flex xs12 lg4 class="image-place" v-if="block.imageUrl">
                    <img class="image" :src="block.imageUrl" alt="">
                </v-flex>
            </v-layout>
        </v-container>
    </div>
    <!-- /.section--aout-us white-section -->
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>