@import '../../../../styles/general/_vars.scss';
@import '../../../../styles/general/_mixins.scss';

#app {
    .image-text {

        &:nth-child(even){
            .text-box {
                padding-right: 0;
                padding-left: 50px;
            }
            flex-direction: row-reverse;
            .image-place{
                .image {
                    right: auto;
                    left: 0;
                }
            }

        }
        .text-box {
            padding-right: 50px;
        }
        .inner {
            padding: 50px;
            border-radius: 26px;
            box-shadow: 0 12px 24px rgba(0,0,0,0.2);
            min-height: 480px;
            margin-bottom: 150px;
            h2 {
                margin-bottom: 30px;
            }
            .advantage {
                margin: 45px 0 0;
                padding: 5px 150px 5px 24px;
                position: relative;
                .heading{
                    color: $color--pinky;
                    margin-bottom: 10px;
                }
                &:before {
                    display: inline-block;
                    content: '';
                    width: 4px;
                    height: 100%;
                    background: linear-gradient(180deg, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);
                    position: absolute;
                    left:0;
                    top:0;
                }

            }
        }
        .image-place{
            position: relative;
            .image {
                position: absolute;
                right: 0;
                bottom: 85px;
            }
        }

    }
}

@media screen and (max-width: 1264px){
    #app {
        .image-text {
            flex-wrap: wrap;
            &:nth-child(even){
                .text-box {
                    padding-left: 0;
                }
                flex-direction: row;
                .image-place{
                    .image {
                        right: 0;
                        left: auto;
                    }
                }

            }
            .text-box {
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 0;
                .inner {
                    margin-bottom:0;
                }
            }
            .image-place{
                height: 380px;
                .image {
                    bottom: 0;
                }
            }

        }
    }
}

@include media1024 {
    #app {
        .image-text {
           margin-top:-35px;
            margin-bottom: 50px;
            .inner {
                box-shadow: 0 0 12px rgba(0,0,0,0.2);
                .advantage {
                    padding-right: 24px;
                }
            }

            .image-place{
                display:none;
            }

        }
    }
}

@include media767 {
    #app {
        .image-text {

            .inner {
                max-width: calc(100% - 20px);
                margin-left: 10px;
                padding: 20px;
                .advantage {
                    font-size: 15px;
                    padding-right: 0;
                }
                .description {
                    font-size: 15px;
                }
            }


        }
    }
}