<template>
    <div class="display white-section">
        <v-container class="mobile-full">
            <v-layout wrap class="types-layout just-num-5">
                <v-flex xs12 md6 v-for="type in types" :key="type.sort" class="info-card">
                    <img class="bg" :src="type.imageUrl" alt="">
                    <div class="content-wrap">
                        <h2>{{type.title}}</h2>
                        <p>{{type.text}}</p>
                        <a class="link-with-arrow" :href="type.button.href">{{type.button.text}}</a>
                    </div>
                    <!-- /.content-wrap -->
                </v-flex>
            </v-layout>
        </v-container>
    </div>
    <!-- /.display white-section -->

    
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>