@import "../../../../styles/general/vars";
@import '../../../../styles/general/_mixins.scss';
#app {
    .types-layout {
        flex-wrap: nowrap;
    }
    .container {
        margin:auto;
        padding:0;
    }
    .info-card {
        position: relative;
        max-width: 750px;
        .bg {
            position: absolute;
            z-index: 1;
            top:0;
            min-width: 50vw;
            min-height: 100%;
        }
        &:nth-child(odd){
            .content-wrap{
                padding-left:0;
            }
            .bg {

                right: 0;
            }
        }
        &:nth-child(even) .bg{
            left:0;
        }
        .content-wrap {
            padding: 70px 40px 50px;
            position: relative;
            z-index: 2;
            color: $color--dark;
            width: 400px;
        }
        h2 {
            margin-bottom: 15px;
            white-space: nowrap;
        }
    }
}

@include media959 {
    #app {
        .types-layout {
            flex-wrap: wrap;
        }
        .info-card {
            overflow: hidden;

            &:nth-child(odd){
                .content-wrap{
                    padding-left:40px;
                }
                .bg {

                    right: 0;
                }
            }
            &:nth-child(even) .bg{
                left:auto;
                right: 0;
            }

        }
    }
}

@include media575 {
    #app {

        .info-card {
            .bg {
                opacity: 0.4;
            }

            .content-wrap{
                   h2{
                       font-size: 22px;
                       white-space: normal;
                }
            }

        }
    }
}