<template>
    <div
        class="white-section"
        :class="{'section-arrow-top section--faq': showTopBackground, 'white-section_last': whiteSectionLast }"
    >
        <v-container>
            <v-layout xs12>
                <v-list v-if="questions">
                    <v-list-group
                            class="row question"
                            v-for="question in questions"
                            v-model="question.active"
                            :key="question.title"
                            prepend-icon="keyboard_arrow_down"
                            no-action
                            sub-group
                    >
                        <v-list-tile slot="activator">
                            <v-list-tile-content>
                                <v-list-tile-title>
                                    {{question.title}}
                                </v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>

                        <v-list-tile
                                :key="question.title"
                        >
                            <div class="list-content-wrap text-guide" v-html="question.text">

                            </div>
                        </v-list-tile>
                    </v-list-group>
                </v-list>
            </v-layout>
        </v-container>
    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>