#app {
  .section--faq {
    margin-top: 120px !important;

    .list {
      padding-top: 70px;
    }
  }

  .white-section {
    .container {
        padding-bottom: 0;

        .v-list {
            padding-bottom: 0;
        }
    }
  }

  .white-section_last {
    padding-top: 37px;
    padding-bottom: 85px;
  }
}

