<template>
    <div class="news white-section">
        <div class="page-content">
            <h2>{{title}}</h2>
            <div class="just-num-79 just-wrap">
                <div class="singleNews" v-for="element in elements">
                    <a :href="element.detailUrl">
                        <div v-if="element.imageUrl" class="image">
                            <img :src="element.imageUrl" alt="">
                        </div>
                        <div class="img nophoto" v-else="">
                            <img src="/local/assets/images/bg/news.png" alt="">
                        </div>
                        <div class="">
                            <div class="news-card_content">
                                <div class="date">{{element.date}}</div>
                                <div class="title">{{element.title}}</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <br>
            <v-btn big class="btn--pinky btn--alt" v-if="button" :href="button.href">
                {{button.text}}
            </v-btn>
        </div>
        <!-- /.container -->

    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>