@import "../../../../styles/general/vars";
@import "../../../../styles/general/mixins";
.news {
    padding: 70px 0;
    text-align: center;

    h2 {
        margin-bottom: 50px;
    }

    .singleNews {
        width: calc(33.3333% - 10px);
        max-width: 386px;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 6px 24px rgba(0,0,0,0.1);
        overflow: hidden;
        transition: .2s linear;
        .image {
            position: relative;
            &:after {
                position: absolute;
                content:'';
                width: 100%;
                height: 50%;
                left:0;
                bottom:8px;
            }
            img {
                max-width: 100%;
            }
        }
        &:nth-child(1){
            .image:after{
                background: linear-gradient(rgba(235, 39, 109,0), rgba(235, 39, 109,.5));
            }
        }
        &:nth-child(2){
            .image:after{
                background: linear-gradient(rgba(140, 197, 58,0), rgba(140, 197, 58,.5));
            }
        }
        &:nth-child(3){
            .image:after{
                background: linear-gradient(rgba(1, 173, 195,0), rgba(1, 173, 195,.5));
            }
        }

        .news-card_content {
            padding: 35px;
            height: 180px;
            text-align: left;
            position: relative;
            color: $color--dark;
            &:after {
                content: '';
                position: absolute;
                height: 30px;
                width: 100%;
                background: linear-gradient(rgba(255,255,255,0),#fff 83%);
                bottom: 0;
                left: 0;
            }

            .date {
                text-transform: uppercase;
                color: $color--gray;
                font-size: 12px;
                margin-bottom: 10px;
            }
            .title {
                font-size: 18px;
                line-height: ( 28 / 18 );
                font-weight: 500;
            }
        }

        &:hover {
            box-shadow: 4px 10px 30px rgba(0,0,0,0.1);
            transform: translateY(-10px);
        }
    }

    .btn, .v-btn {
        margin-top: 25px;
        background: $color--pinky;
        color: #fff;
    }
}

@include media959 {
    .news .singleNews {
        box-shadow: 0 4px 12px rgba(0,0,0,.2);
        .news-card_content {
            padding: 5px 15px 25px;
            height: 140px;
            font-size: 16px;
            .title {
                font-size: 16px!important;
            }
        }
    }
}

@include media767 {
    .news .singleNews{
        width: calc(100% - 30px);
        margin-bottom: 15px;
        margin-left: 15px;
        border-radius: 0;

    }
}