<template>
    <div class="banner bannerchat">
        <img class="banner__img-bg" :src="img">
        <v-container>
            <v-layout>
                <v-flex xs12>
                    <Banner :title="title" :description="description">
                        <div v-if="onlineChat" class="banner__buttonSection">
                            <div class="just-num-4 just-wrap">
                                <div class="image"><img src="/local/assets/images/icons/pretty-link-leaf.svg" alt=""></div>
                                <div class="text">
                                    <span v-html="textBeforeButton"></span>
                                </div>
                                <v-btn flat  class="btn--leaf" :href="onlineChat.href">
                                    {{onlineChat.text}}
                                </v-btn>
                            </div>
                        </div>
                    </Banner>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>