@import '../../../../styles/general/_vars.scss';
@import '../../../../styles/general/_mixins.scss';

#app {
    .banner {
        padding-bottom: 100px;
    }
    .banner__img-bg {
        position: absolute;
        z-index: 1;
        top:0;
        left: calc(50% - 960px);
    }
    .bannerchat{
        .text {
            padding: 5px 25px;
            font-size: 24px;
            line-height: 1.5;
        }

        .btn, .v-btn {
            color: #fff;
        }
    }


}



@include media959 {
    .banner__img-bg {
        opacity: .6;
    }
}

@include media575 {
    .banner__img-bg {
        opacity: .5;
    }
}