<template>
    <div class="section white-section">
        <v-container>
        <v-layout  wrap class="infocard--big">
            <v-flex xs12 class="info">
                <img class="bg" :src="imageSrc" alt="">
                <div class="content-wrap">
                    <h3>{{title}}</h3>
                    <div class="info-content">
                        <ul class="list">
                            <li v-for="element in list">{{element}}</li>
                        </ul>
                        <v-btn flat :href="button.href">{{button.text}}</v-btn>
                    </div>
                    <!-- /.wrap -->
                </div>
                <!-- /.content -->


            </v-flex>

        </v-layout>
    </v-container>
    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>