@import "../../../../styles/general/vars";
@import '../../../../styles/general/_mixins.scss';

#app {
    .infocard--big{
        padding-bottom: 50px;
        .bg {
            position: absolute;
            z-index: 1;
            right: 0;
            bottom: 100px;
        }
        .content-wrap {
            position: relative;
            z-index: 0;
            min-height: 580px;
            width: calc(70% + 70px);
            margin-left: -35px;
            padding: 60px;
            background:  url(/local/assets/images/bg/saycloud.svg);
            background-size: 90% 100%;
            background-position: 10% 10%;
            background-repeat: no-repeat;
            padding-right: 160px;
        }
    }
    li {
        margin-bottom: 15px;
    }
    .info-content {
        width: 640px;
        max-width :100%;

    }
    h3 {
        font-size: 34px;
        margin-bottom: 35px;
    }
}

@include media1150 {
    #app{
        .infocard--big {

            .bg {
                display: none;
            }

            .content-wrap {
                background: none;
                width: 100%;
                margin-left: 0;
                border-radius: 26px;
                box-shadow: 0 12px 24px rgba(0,0,0,0.2);
                margin-bottom: 70px;
            }
        }
    }
}

@include media575 {
    #app {
        .info-content {
            text-align: center;
        }
        .infocard--big{

            .content-wrap {
                margin-bottom: 0;
              border-radius: 12px;
                padding: 30px 30px 0;
                box-shadow: 0 2px 12px rgba(0,0,0,0.2);
                h3 {
                    font-size: 24px;
                }
                li {
                    font-size: 15px;
                    margin-bottom: 6px;
                }
            }
        }
    }
}