<template>
    <v-container>
        <v-layout>
            <v-flex xs12>
                <h2 v-if="title" class="tarif-title">{{title}}</h2>
                <table class="decorated-table">
                    <tr class="columns">
                        <td></td>
                        <td v-for="(column, columnIndex) in rates[0].features" :key="columnIndex">
                            {{column.name}}
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr v-for="(rate, rateIndex) in rates" :key="rateIndex">
                        <td>
                            <div class="hit" v-if="rate.hit" :class="rate.color">
                                <img src="/local/assets/images/icons/star-white.svg" alt="" class="hit-icon">
                                <span>ХИТ</span>
                            </div>
                            <div class="name">
                                <div class="action heading" v-if="rate.limitedOffer">
                                    Ограниченное предложение
                                </div>
                                <div>{{rate.name}}</div>
                                <div class="fullname" v-if="rate.fullName">{{rate.fullName}}</div>
                            </div>
                            <!-- /.name -->
                        </td>
                        <td v-for="(feature, featureIndex) in rate.features" :key="featureIndex">

                            <v-tooltip absolute bottom v-if="feature.help">
                                    <span class="slot" slot="activator">
                                        <span>{{feature.value}}</span> <span class="note-activator">?</span></span>
                                <span>{{feature.help}}</span>
                            </v-tooltip>

                            <span v-if="feature.value.toLowerCase() === 'infinity'">
                                    <svg class="param-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                 href="/local/assets/images/icons/_sprite.svg#svg-icon-infinity"></use></svg>
                                </span>
                            <span v-else-if="feature.value.toLowerCase() === 'да'">
                                    <span class="param-icon">&#10003;</span>
                                </span>
                            <span v-else-if="feature.value">{{feature.value}}</span>
                        </td>
                        <td>
                            <div class="price">
                                <div class="price-box just-num-7">
                                    <span class="mainprice">{{getRubles(rate.price)}}</span>
                                    <span class="subprice">{{getPennies(rate.price)}}</span>
                                    <span class="period"> {{rate.price.currency}} <br> {{rate.price.period}}</span>
                                </div>
                                <!-- /.price-box -->
                            </div>
                            <!-- /.price -->
                        </td>
                        <td>
                            <div>
                                <v-btn class="btn--long" :class="{'active': rate.hit}" :href="rate.buttonToOrder.href">
                                    {{rate.buttonToOrder.text}}
                                </v-btn>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="mobile-cards">
                    <v-layout wrap>
                        <v-flex xs12 sm6 md4 v-for="(rate, rateIndex) in rates" :key="rateIndex">
                            <div class="mobile-card">
                                <div class="name">
                                    <div class="hit" v-if="rate.hit" :class="rate.color">
                                        <img src="/local/assets/images/icons/star-white.svg" alt="" class="hit-icon">
                                        <span>ХИТ</span>
                                    </div>
                                    <div class="action heading" v-if="rate.limitedOffer">
                                        Ограниченное предложение
                                    </div>
                                    <div class="title">{{rate.name}}</div>
                                    <div class="fullname" v-if="rate.fullName">{{rate.fullName}}</div>
                                </div>
                                <!-- /.name -->
                                <div class="price just-num-5">
                                    <div class="price-box just-num-7">
                                        <span class="mainprice">{{getRubles(rate.price)}}</span>
                                        <span class="subprice">{{getPennies(rate.price)}}</span>
                                        <span class="period"> {{rate.price.currency}} <br> {{rate.price.period}}</span>
                                    </div>
                                    <!-- /.price-box -->
                                </div>
                                <!-- /.price -->
                                <div
                                        v-for="(feature, featureIndex) in rate.features"
                                        class="feature just-num-46"
                                        :key="featureIndex"
                                >
                                    <div class="feature-title">{{feature.name}}</div>
                                    <!-- /.feature-title -->
                                    <div class="feature-content">
                                        <v-tooltip absolute bottom v-if="feature.help">
                                    <span class="slot" slot="activator">
                                        <span>{{feature.value}}</span> <span class="note-activator">?</span></span>
                                            <span>{{feature.help}}</span>
                                        </v-tooltip>
                                        <span v-else-if="feature.value==='Infinity'"><svg class="param-icon"><use
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                href="/local/assets/images/icons/_sprite.svg#svg-icon-infinity"></use></svg></span>
                                        <span v-else>{{feature.value}} </span>
                                    </div>
                                    <!-- /.feature-content -->

                                </div>

                                <div>
                                    <v-btn class="btn--long" :class="{'active': rate.hit}"
                                           :href="rate.buttonToOrder.href">
                                        {{rate.buttonToOrder.text}}
                                    </v-btn>
                                </div>
                            </div>
                        </v-flex>
                    </v-layout>
                </div>
                <!-- /.mobile-cards -->
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>
