@import "../../../../styles/general/vars";
@import '../../../../styles/general/_mixins.scss';

#app {
  .hit {
    background: #eb276d;
    position: absolute;
    left: -37px;
    top: -11px;
    transform: rotate(-45deg);
    display: inline-block;
    width: 100px;
    text-align: center;
    padding-top: 15px;
    &.hosting-style {
      background: #8dc43b;
    }
    &.virtual-server-style {
      background: #eb276d;
    }

    &.dedicated-server-style {
      background: #01adc3;
    }
    .hit-icon {
      width: 14px;
      height: 14px;
      display: block;
      margin: 0 auto -7px;
    }
    span {
      height: 10px;
      width: 25px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      text-align: center;
      display: inline-block;
      position: relative;
      top: -1px;
    }
  }
  h3 {
    margin: 35px 0 25px;
  }
  .decorated-table {
    border-radius: 20px;
    color: $color--dark;
    background: #fff;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
  }

  .param-icon {
    width: 28px;
    height: 28px;
    color: $color--pinky;
  }

  tr:nth-child(even) {
    background: $color--pinky-light;
  }
  tr:last-of-type {
    td {
      padding-bottom: 40px;
    }
  }
  td {
    overflow: hidden;
    position: relative;
    font-size: 18px;
    padding: 20px 30px;
    text-align: center;
    &:first-child {
      text-align: left;
    }

    &:first-child {
      font-weight: 500;
      font-size: 20px;
      min-width: 200px;
    }
  }
  .heading {
    white-space: nowrap;
    &.action {
      color: $color--pinky;
    }
  }
  .fullname {
    font-size: 12px;
    line-height: 1;
    font-weight: 300;
    white-space: nowrap;

  }
  .columns td {
    font-size: 14px;
    line-height: 1.2;
  }

  .price-box {
    .mainprice {
      font-size: 40px;
      font-weight: 500;
      line-height: 1;
    }
    .subprice {
      font-size: 20px;
      font-weight: 500;
      line-height: 1;
      padding-left: 2px;
    }
    .period {
      padding-left: 10px;
      font-size: 14px;
      line-height: 1.5;
    }
  }

  .v-btn {
    &.active, &:hover {
      background: $color--pinky;
      color: #fff;
      border-color: $color--pinky;
    }
  }

  &.dedicated-server-style {

    .param-icon {
      color: $color--sea;
    }

    tr:nth-child(even) {
      background: $color--sea-light;
    }
    .btn, .v-btn {
      color: $color--sea;
    }

    .heading {

      &.action {
        color: $color--sea;
      }
    }

    .v-btn {
      color: $color--sea;
      &.active, &:hover {
        background: $color--sea;
        color: #fff;
        border-color: $color--sea;
      }
    }

  }

  &.hosting-style {

    .param-icon {
      color: $color--leaf;
    }

    tr:nth-child(even) {
      background: $color--leaf-light;
    }
    .btn, .v-btn {
      color: $color--leaf;
    }

    .heading {

      &.action {
        color: $color--leaf;
      }
    }

    .v-btn {
      color: $color--leaf;
      &.active, &:hover {
        background: $color--leaf;
        color: #fff;
        border-color: $color--leaf;
      }
    }

  }
  .mobile-cards {
    display: none;
    .mobile-card {
      position: relative;
      overflow: hidden;
    }
  }
}

@include media1280 {
  #app {
    .decorated-table {
      display: none;
    }
    .mobile-cards {
      display: block;
      .layout {
        margin: 0 -10px;
        .flex {
          padding: 10px;
        }
      }
      .mobile-card {

        text-align: center;
        margin-top: 10px;
        padding: 15px 0;
        background: #fff;
        color: $color--dark;
        border-radius: 18px;

        > div {
          padding: 5px 15px;
          min-height: 86px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          &.feature {
            justify-content: space-between;
            flex-direction: row;
            min-height: 45px;
            > div {
              width: 40%;
              max-width: 50%;
              &.feature-title {
                text-align: left;
                width: 60%;
                white-space: nowrap;
              }
            }
          }
          .title {
            font-weight: 500;
          }
          .feature-title {
            font-size: 14px;
          }
          &:nth-child(odd) {
            background: $color--pinky-light;
            &:last-child, &:first-child {
              background: none !important;
            }
          }
        }

        .btn--long {
          width: 90%;
        }

      }
    }
    &.hosting-style {
      .mobile-cards {

        .mobile-card {
          > div:nth-child(odd) {
            background: $color--leaf-light;
          }
        }

      }
    }
    &.dedicated-server-style {

      .mobile-cards {

        .mobile-card {
          > div:nth-child(odd) {
            background: $color--sea-light;
          }
        }

      }
    }

  }

}

@include media959 {
  #app {

    .decorated-table {
      min-width: 100vw;
      margin-left: calc(-10% + 31px);
      border-radius: 0;

      .columns td {
        font-size: 11px;
      }
      td {
        font-size: 12px;
        &:first-child {
          min-width: 100px;
        }
        padding: 30px 6px;

        .heading.action {
          white-space: normal;
          font-size: 10px;
        }
        .fullname {
          white-space: normal
        }
      }
    }

  }
}

@include media575 {
  #app .decorated-table {
    margin-left: calc(-10% + 38px);
  }
}
