$fontsPath: '/local/assets/fonts/';
/*FiraSans*/
  /*regular*/
@font-face {
  font-family: 'FiraSans';
  src:  url($fontsPath + 'FiraSans/Firasansregular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src:  url($fontsPath + 'FiraSans/Firasansitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/*medium*/
@font-face {
  font-family: 'FiraSans';
  src:  url($fontsPath + 'FiraSans/Firasansmedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src:  url($fontsPath + 'FiraSans/Firasansmediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

 /*bold*/
@font-face {
  font-family: 'FiraSans';
  src:  url($fontsPath + 'FiraSans/Firasansbold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans';
  src:  url($fontsPath + 'FiraSans/Firasansbolditalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
