/* COLORS*/
.color--dark {
  color: $color--dark;
}

.color--gray {
  color: $color--gray;
}

.color--pinky {
  color: $color--pinky;
}

.color--leaf {
  color: $color--leaf;
}

.color--sea {
  color: $color--sea;
}

.color--pinky-light {
  color: $color--pinky-light;
}

.color--leaf-light {
  color: $color--leaf-light;
}

.color--sea-light {
  color: $color--sea-light;
}

.color--lemon {
  color: $color--lemon;
}

.bg--dark {
  background-color: $color--dark;
}

.bg--gray {
  background-color: $color--gray;
}

.bg--pinky {
  background-color: $color--pinky;
}

.bg--leaf {
  background-color: $color--leaf;
}

.bg--sea {
  background-color: $color--sea;
}

.bg--lemon {
  background-color: $color--lemon;
}

.bg--pinky-light {
  background-color: $color--pinky-light;
}

.bg--leaf-light {
  background-color: $color--leaf-light;
}

.bg--sea-light {
  background-color: $color--sea-light;
}

.border--dark {
  border-color: $color--dark;
}

.border--gray {
  border-color: $color--gray;
}

.border--pinky {
  border-color: $color--pinky;
}

.border--leaf {
  border-color: $color--leaf;
}

.border--sea {
  border-color: $color--sea;
}

.border--lemon {
  border-color: $color--lemon;
}

.border--pinky-light {
  border-color: $color--pinky-light;
}

.border--leaf-light {
  border-color: $color--leaf-light;
}

.border--sea-light {
  border-color: $color--sea-light;
}

.mix-gradient {
  background: linear-gradient(-90deg, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);
}

.mix-gradient--revert {
  background: linear-gradient(90deg, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);
}

/* STANDART TAGS */

body {
  margin: 0;
  padding: 0;
  font: 300 18px/28px 'FiraSans';
  background: $color--body;
  color: #fff;
}

#app {
  width: 100%;
  overflow-x: hidden;
  position: relative;

  h1, .h1 {
    font-weight: 500;
    font-size: 45px;
    line-height: (55 / 45);
  }

  h2, .h2 {
    font-weight: 500;
    font-size: 34px;
    line-height: (46 / 34);
  }

  h3, .h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: (28 / 24);
  }

  h4, .h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: (28 / 18);
  }

  ul {
    padding-left: 0;
    &.text {
      padding-left: 30px;
    }
    li {
      list-style: none;
      padding-left: 12px;
      position: relative;
      text-align: left;
      margin-bottom: 10px;
      &:before {
        content: '';
        width: 5px;
        height: 5px;
        position: absolute;
        left: 0;
        top: 12px;
        background: $color--pinky;
      }

    }
    &.list--leaf li:before {
      background: $color--leaf;
    }
    &.list--pinky li:before {
      background: $color--pinky;
    }
    &.list--sea li:before {
      background: $color--sea;
    }
  }

  a, .link {
    cursor: pointer;
    color: $color--pinky;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: $speed-short;
    &:hover, &:active, &:focus, &:visited {
      color: $color--pinky;
      text-decoration: none;
      border-color: $color--pinky;
    }
    &.link-white {
      color: #fff;
    }
    &.link-as-text:hover {
      border-color: transparent;
    }
    &.link--copyright {
      color: #fff;
      border-color: #fff;
      &:hover {
        border-color: transparent;
      }
    }
  }

  p, .article {
    margin-bottom: $base-em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  /* TEXT */
  .heading {
    text-transform: uppercase;
    font-size: 15px;
    line-height: (24 / 15);
  }
  .note {
    font-size: 14px;
    line-height: (24 / 14);
    text-align: left;
  }

  .text-guide {
    img {
      max-width: 100%;
    }
    .heading {
      margin: 30px 0 15px;
    }
    ul {
      padding-left: 30px;
    }
    table {
      margin: 35px 0;
      width: 100%;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
      border-collapse: collapse;
      tr:nth-child(odd) {
        background: $color--pinky-light;
      }
      td, th {
        padding: 15px 30px;
        font-size: 13px;
        font-weight: 300;
        &:first-child {
          width: 45%;
        }
        &:last-child {
          width: 20%;
        }
        b {
          font-size: 18px;
        }
      }

    }
    h3 {
      margin: 25px 0;
    }
  }

  .mobile-only {
    display: none;
  }

  /* ELEMENTS*/

  .btn, .v-btn {
    border: 2px solid;
    transition: .15s;
    background: none;
    font-weight: 300;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    padding: 0;
    border-radius: 8px;
    height: 40px;
    .btn__content, .v-btn__content {
      padding: 0 25px;
      transition: 0s;
    }
    &:focus {
      background: none;
    }
    &.btn--small, &.v-btn--small {
      border: 1px solid;
      text-transform: capitalize;
      border-radius: 3px;
      height: auto;
    }
    &.btn--long {
      width: 90%;
      border: 2px solid;
    }
    &:hover {
      box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
    }
    &:active {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    }
    &.btn--pinky {
      color: $color--pinky;
      border-color: $color--pinky;

      &.active, &:hover {
        color: #fff;
        background: $color--pinky;

      }
    }
    &.btn--leaf {
      color: $color--leaf;
      border-color: $color--leaf;

      &.active, &:hover {
        color: #fff;
        background: $color--leaf;

      }
    }
    &.btn--sea {
      color: $color--sea;
      border-color: $color--sea;

      &.active, &:hover {
        color: #fff;
        background: $color--sea;

      }
      &.v-btn--flat {
        &:hover {
          color: $color--sea;
          background: none;
        }
      }
    }
    &.btn--lemon {
      color: $color--lemon;
      border-color: $color--lemon;
    }

    &.btn--add-to-cart {
      margin: 0;
      color: #fff;
      background: $color--pinky;
      border-color: $color--pinky;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
      height: 38px;
      text-transform: none;
      min-width: 0;

      .v-btn__content {
        padding: 0 15px 0 54px;
      }

      .btn--add-to-cart__status {
        position: absolute;
        left: 10px;
        top: 50%;
        width: 8px;
        height: 8px;
        margin-top: -4px;

        &:after,
        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          background: #fff;
          content: "";
        }

        &:after {
          width: 8px;
          height: 2px;
          margin-top: -1px;
          margin-left: -4px;
        }

        &:before {
          width: 2px;
          height: 8px;
          margin-top: -4px;
          margin-left: -1px;
        }
      }

      .btn--add-to-cart__icon {
        position: absolute;
        background: url("/local/assets/images/icons/cart.svg") no-repeat;
        width: 17px;
        height: 16px;
        top: 50%;
        margin-top: -8px;
        left: 26px;
      }

      &.btn--add-to-cart-active {
        background: #8EC344;
        border-color: #8EC344;

        .btn--add-to-cart__status {
          width: 7px;
          height: 7px;
          border-left: 2px solid white;
          border-top: 2px solid white;
          transform: rotateZ(-135deg);
          margin-top: -5px;

          &:after,
          &:before {
            display: none;
          }
        }
      }
    }

    &.btn--banner {
      color: #fff;
      background: $color--pinky;
      border-color: $color--pinky;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
      padding-left: 25px;
      padding-right: 25px;
      height: 46px;

      &:hover {
        background: $color--pinky;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      }
      &:active {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
      }
    }
    &.btn--alt {
      color: #fff;
      background: $color--pinky;
    }

    &.btn--banner-subscribe {
      height: 51px;
    }
  }

  .link-with-arrow {
    position: relative;
    font-size: 16px;
    transform: translate3d(0, 0, 0);
    &:after {
      content: '';
      display: inline-block;
      width: 45px;
      height: 10px;
      transform: translate3d(0, 0, 0);
      background: url(/local/assets/images/icons/arrow-link.svg) 25% 50% no-repeat;
      right: -35px;
      top: 5px;
      transition: $speed-short;
    }
    &:hover {
      border-color: transparent;
      &:after {
        background-position: 100% 50%;
      }
    }
    &.back {
      padding-left: 35px;
      &:after {
        display: none;
      }
      &:before {
        content: '';
        display: inline-block;
        width: 35px;
        height: 10px;

        background: url(/local/assets/images/icons/arrow-link.svg) right center no-repeat;
        position: absolute;
        left: 0;
        top: 5px;
        transition: $speed-short;
        transform: scale(-1, 1);
      }
      &:hover:before {
        left: -5px;
      }
    }
  }

  .rect .badge__badge {
    width: auto;
    border-radius: 4px;
    padding: 0 5px;
    margin-top: -10px;
    font-size: 11px;
  }

  .v-tooltip {
    .slot {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .v-tooltip__content {

    top: 33px !important;
    margin-left: -35px;
    background: #fff;
    z-index: 2;
    color: $color--dark;
    white-space: nowrap;
    opacity: 1 !important;
    &:before {
      content: '';
      background: #fff;
      width: 15px;
      height: 15px;
      transform: rotate(45deg);
      z-index: 1;
      display: block;
      position: absolute;
      top: -3px;
      left: 23px;
    }
  }
  .note-activator {
    font-size: 14px;
    border-radius: 50%;
    border: 1px solid $color--gray;
    width: 19px;
    display: inline-block;
    text-align: center;
    line-height: 17px;
    cursor: pointer;
    margin-left: 7px;
  }

  .notebox {
    width: 100%;
    border-radius: 6px;
    background: #fff;
    margin: 55px 5px;
    padding: 50px 25px 25px;
    position: relative;
    z-index: 1;
    &:before {
      content: '';
      position: absolute;
      left: -5px;
      top: -5px;
      right: -5px;
      bottom: -5px;
      background-image: linear-gradient(90deg, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);
      z-index: -1;
      border-radius: 6px;
    }
    &:after {
      content: 'Обращаем внимание';
      position: absolute;
      text-transform: uppercase;
      color: $color--pinky;
      left: 0;
      top: 0;
      background: #fff;
      right: 0;
      bottom: 0;
      z-index: -1;
      border-radius: 6px;
      padding-left: 25px;
      padding-top: 15px;
    }

  }

  /* GRID */
  .display {
    overflow: hidden;
  }
  .layout {
    height: 100%;
    min-width: 100%;
    margin: 0 -15px;
    .flex, .col {
      padding: 15px;
    }
  }
  .page-content, .container {
    width: 1200px;
    max-width: 90%;
    margin: auto;
    position: relative;
    z-index: 5;
    padding-left: 0;
    padding-right: 0;
    &.fluid {
      width: 100%;
    }
  }

  .column {
    flex-direction: column;
  }
  .just-wrap {
    flex-wrap: wrap;
  }

  .just-num-7 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .just-num-8 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .just-num-9 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .just-num-79 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .just-num-4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .just-num-6 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .just-num-46 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .just-num-5 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .just-num-1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .just-num-2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .just-num-3 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .just-num-13 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  /* SECTIONS */
  .white-section {
    background: #fff;
    color: $color--dark;
  }
  .section-arrow-down2 {
    z-index: 1;
    position: relative;

    &:after {
      background-image: url(/local/assets/images/bg/triangle2.svg);
      background-position: top center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      content: '';
      display: block;
      width: 100%;
      height: 100px;
      position: absolute;
      bottom: 0;
    }

    padding-top: 0;
    margin-top: 0;
  }
  .section-arrow-top {
    z-index: 1;
    position: relative;
    &:before {
      background-image: url(/local/assets/images/bg/triangle.svg);
      background-position: top center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      content: '';
      display: block;
      width: 100%;
      height: 100px;
      margin-top: -100px;
      position: absolute;
    }

    padding-top: 0;
    margin-top: 0;
  }

  .faq-section {
    padding-bottom: 80px;
  }

  /*popups*/
  .clearglass {
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    &.open {
      visibility: visible;
    }
  }

  .note-popup {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 51;
    background: #fff;
    color: $color--dark;
    border-radius: 18px;
    transition: $speed-short;
    &.open {
      visibility: visible;
      opacity: 1;
    }
    .wrap {
      padding: 40px;
      border-top: 1px solid $color--gray;
      &:first-child {
        border-top: none;
      }
    }
  }

  .phone-white {
    cursor: pointer;
    color: white;
    text-decoration: none;
    border-color: transparent;
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
  }

  .phone-white {
    &:hover,
    &:visited,
    &:active,
    &:focus {
      border-bottom: 1px solid transparent;
      border-color: white;
      color: white;
      text-decoration: none;
    }
  }

  .phone-black {
    cursor: pointer;
    color: black;
    text-decoration: none;
    border-color: transparent;
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
  }

  .phone-black {
    &:hover,
    &:visited,
    &:active,
    &:focus {
      border-bottom: 1px solid transparent;
      border-color: black;
      color: black;
      text-decoration: none;
    }
  }

  /* FORMS */
  .input {
    position: relative;
    max-width: 100%;
    input {
      border: 1px solid rgba(255, 255, 255, 0.4);
      background: rgba(255, 255, 255, 0.1);
      padding: 10px 20px;
      border-radius: 8px;
      outline: none !important;

    }
    label {
      position: absolute;
      left: 20px;
      top: 10px;
      transition: .1s;
      opacity: .5;
      &.noempty {
        top: -3px;
        font-size: 12px;

      }
    }

    input:focus + label {
      top: -3px;
      font-size: 12px;

    }
  }

  input[type="submit"].v-btn {
    text-transform: none;
    padding-left: 40px;
    padding-right: 40px;
    height: 42px;
  }

  .v-text-field .v-input__slot {
    &:after {
      display: none;
    }
    &:before {
      display: none;
    }
  }

  .v-input__slot {
    margin-bottom: 0;

  }
  .v-text-field__details {
    margin-top: -10px;
    .error--text {
      color: $color--error;
    }
  }
  .v-text-field__slot {
    position: relative;

    padding-left: 0;

    margin-bottom: 15px;
    input, textarea {
      border: 1px solid rgba(255, 255, 255, 0.4);
      background: rgba(255, 255, 255, 0.1);
      border-radius: 4px;
      outline: none !important;
      padding: 17px 0 0 20px;
      height: 50px;
      max-height: 50px;
      font-size: 18px;
    }
    textarea {
      max-height: 100%;
      height: auto;
    }
    label {
      left: 20px !important;
      margin-top: 10px;
      font-size: 18px;
      &.v-label--active {
        opacity: .5;
      }
    }
    .v-input {
      height: 40px;
      &.v-textarea {
        height: auto;
      }
    }
    &:focus {
      border-color: #fff;
    }

  }

}

/*ADAPTIVE*/
@include media959 {
  .page-content, .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  #app {
    h4, .h4 {
      font-size: 14px;
    }

    .rowstring {
      .col {
        width: 100%;
      }
      .btn {
        margin-left: 0;
        margin-top: 15px;
      }
    }
  }
}

@include media575 {
  #app {
    .banner {
      margin-top: 60px;
    }
    h2, .h2 {
      font-size: 24px;
    }
    h3, .h3 {
      font-size: 17px
    }

    h3 {
      margin-top: 20px;
    }
    .mobile-only {
      display: block;
    }
    .page-content {
      max-width: 100%;
    }
    .container.mobile-full {
      width: 100%;
      max-width: 100%;
    }
    .text-guide {
      ul {
        padding-left: 15px;
      }
      table {
        margin: 35px 0 35px -15px;
        width: calc(100% + 30px);
        border-radius: 0;
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
        border-collapse: collapse;
        tr:nth-child(odd) {
          background: $color--pinky-light;
        }
        td, th {
          padding: 15px 30px;
          font-size: 13px;
          font-weight: 300;
          &:first-child {
            width: 45%;
          }
          &:last-child {
            width: 20%;
          }
          b {
            font-size: 18px;
          }
        }

      }
    }

    .display {
      .content {
        max-width: 100%;
      }
    }
  }
}



