/* --- MEDIA --*/

@mixin mediaMore1920 {
  @media screen and (min-width: 1921px) {
  @content;
  }
}

@mixin media1600 {
  @media screen and (max-width: 1600px) {
    @content;
  }
}

@mixin media1440 {
  @media screen and(max-width: 1440px) {
    @content;
  }
}

@mixin media1280 {
  @media screen and (max-width: 1280px) {
    @content;
  }
}

@mixin media1150 {
  @media screen and (max-width: 1150px) {
    @content;
  }
}

@mixin media1024 {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin media959 {
  @media screen and (max-width: 959px) {
    @content;
  }
}
@mixin media768 {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin media767 {
  @media screen and (max-width: 767px) {
    @content;
  }
}
@mixin media575 {
  @media screen and (max-width: 575px) {
    @content;
  }
}
@mixin media375 {
  @media screen and (max-width: 375px) {
    @content;
  }
}

@mixin media320 {
  @media screen and (max-width: 320px) {
    @content;
  }
}