/* Colors */
$color--dark: #333333;
$color--gray: #919191;
$color--pinky: #eb276d;
$color--leaf: #8dc43b;
$color--sea: #01adc3;
$color--pinky-light: #fef0f5;
$color--leaf-light: #f3f9eb;
$color--sea-light: #e5f7f9;
$color--silver: #c8c8c8;
$color--body: #1f1250;
$color--lemon: #C4DC02;
$color--error: red;
$color--footer-border: #472774;

$primary-gradient: linear-gradient(-90deg, #eb276d 0, #e45c9a 25%, #ae65b6 50%, #6448b6 75%, #3b2c79 100%);

/* TRANSITIONS */
$speed-standart: 1s;
$speed-short: 0s;

/* MARGINS */
$baseline: 30px;
$base-em: 2em;
