<template>
    <div class="banner">
        <img class="banner__img-bg" :src="img">
        <v-container>
            <v-layout>
                <v-flex xs12>
                    <h1>{{title}}</h1>
                    <div class="description" v-html="description"></div>
                </v-flex>
            </v-layout>
        </v-container>

    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>