@import '../../../../styles/general/_vars.scss';
@import '../../../../styles/general/_mixins.scss';
#app {

    .banner {
        min-height: calc(100vh - 60px );
    }
    h1 {
        width: 100%;
        max-width: 468px;
        font-size: 150px;
        line-height: (55 / 45);
        margin: 80px 0 0;
    }

    .description {
        width: 100%;
        max-width: 600px;
        margin: 45px 0;
    }
    .banner__img-bg {
        position: absolute;
        z-index: 1;
        top: 0;
        left: calc(50% - 960px);
    }
}

@include media575 {
    #app {
        .banner {
            position: relative;
            height: calc(100vh - 60px );
            overflow: hidden;
        }

        h1 {
            margin: 20px 0 0;
            font-size: 55px;
        }

        .description {
            width: 100%;
            max-width: 600px;
            margin: 15px 0;
        }
        .banner__img-bg {
            opacity: .5;
        }
    }
}
