<template>
    <div class="white-section section-arrow-top">
        <div class="filter">
            <div class="just-num-46 navigation-tabs mix-gradient--revert">
                <div :class="`tab just-num-5 ${tab.class}`" v-for="(tab, category) in tabs" @click="openCategory(category, minimalPage)">{{tab.name}}</div>
            </div>
            <!-- /.div -->
        </div>
        <v-container grid-list-md class="news-container">
            <v-layout class="just-wrap" v-for="element in currentElements" :key="element.sort">
                <v-flex xs12 md5 class="just-num-7">
                    <div class="img" v-if="element.imageUrl">
                        <img :src="element.imageUrl">
                    </div>
                    <!-- /.img -->
                    <div class="img nophoto" v-else="">
                        <img  src="/local/assets/images/bg/news.png" alt="">
                    </div>
                    <!-- /.img -->

                </v-flex>
                <v-flex xs12 md7>
                    <h5 v-if="element.finishedShare">Акция завершена</h5>
                    <h5 v-else-if="element.newsDate.from" class="action">Акция с {{element.newsDate.from}} по {{element.newsDate.to}}</h5>
                    <h5 v-else>{{element.newsDate}}</h5>
                    <h3>
                        <a :href="element.detailUrl">{{element.title}}</a>
                    </h3>
                    <div class="description" v-html="element.description"></div>
                </v-flex>
            </v-layout>
            <div class="pagination-box just-num-5">
                <v-pagination
                        v-if="navigationLength"
                        v-on:input="openPage($event)"
                        :length="navigationLength"
                        v-model="currentPage"
                        :total-visible="7"></v-pagination>
            </div>
            <!-- /.pagination-box -->

        </v-container>

        </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>