@import "../../../../styles/general/vars";
@import "../../../../styles/general/mixins";
#app{
    .white-section {
        position: relative;
        z-index: 1;
        margin-top: 100px;

        .page-content {
            padding-top: 50px;
        }
    }
    .filter {
        padding: 30px 15px;
    }
    .navigation-tabs {
        width: 440px;
        max-width: 100%;
        height: 70px;
        position: relative;
        z-index: 11;
        margin: auto;
        margin-top: 20px;
        padding: 5px;
        border-radius: 6px;


        .tab {
            width: 33.3333%;
            height: 100%;
            border-radius: 4px;
            color: #fff;
            text-align: center;
            padding: 0 25px;
            cursor: pointer;
            background: transparent;
            transition: .8s;
            &:hover {
                text-decoration: underline;
            }
            &.active {
                color: $color--dark;
                background: #fff;
                cursor: default;
            }

        }


    }

    h5 {
       font-size: 15px;
        font-weight: 300;
        text-transform: uppercase;
        color: $color--gray;
        margin-top: 10px;
        &.action {
            color: $color--pinky;
        }
    }
    h3 {
        margin-top: 10px;
        font-size: 18px;
        a{
            color: $color--dark;
            &:hover {
                color: $color--pinky;
            }
        }
    }
    .description {
        margin-top: 10px;
        font-size: 18px;
    }
}

@include media959 {
    #app{
        .news-container {
            h5 {
                margin-top: -15px;
            }
            .layout {
                padding-bottom: 15px;
                margin-bottom: 30px;
                border-bottom: 1px solid rgba(0,0,0,0.2);
            }
        }
    }
}

@include media575 {
    #app{
        .navigation-tabs {
            display: block;
            height: auto;

            .tab {
                width: 100%;
                padding: 5px 0;
            }
        }
    }
}