<template>
    <div class="white-section section--social-network">
        <v-container>
            <v-layout>
                <v-flex xs12>
                    <div class="just-num-4 just-wrap">
                        <div class="sharetitle">Поделиться</div>
                        <div class="share-button vk just-num-5" @click="shareVk()"><svg class="social-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/local/assets/images/icons/_sprite.svg#svg-icon-vk"></use></svg></div>
                        <div class="share-button fb just-num-5" @click="shareFacebook()"><svg class="social-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/local/assets/images/icons/_sprite.svg#svg-icon-fb"></use></svg></div>
                        <div class="share-button ok just-num-5" @click="shareOk()"><svg class="social-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/local/assets/images/icons/_sprite.svg#svg-icon-ok"></use></svg></div>
                        <div class="share-button tw just-num-5" @click="shareTwitter()"><svg class="social-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/local/assets/images/icons/_sprite.svg#svg-icon-tw"></use></svg></div>
                        <div class="share-button viber just-num-5" @click="shareViber()"><svg class="social-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/local/assets/images/icons/_sprite.svg#svg-icon-viber"></use></svg></div>
                        <div class="share-button telegram just-num-5" @click="shareTelegram()"><svg class="social-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/local/assets/images/icons/_sprite.svg#svg-icon-telegram"></use></svg></div>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>