@import "../../../../styles/general/vars";
@import "../../../../styles/general/mixins";
#app {
    .section--social-network {
        .container {
            padding-top: 0;
            padding-bottom: 70px;
        }
    }
    .sharetitle {
        padding-right: 20px;
    }
    .share-button{
        width: 50px;
        height: 50px;
        border-radius: 6px;
        margin: 5px;
        cursor: pointer;
        transition: .3s;
        box-shadow: 0 0 0 transparent;
        &:hover {
            transform: scale(1.1,1.1);
            box-shadow: 0 1px 4px rgba(0,0,0,0.1);
        }
        &:active {
            transition: 0;
            transform: scale(0.95,0.95);
            box-shadow: 0 0 0 rgba(0,0,0,0.1);
        }

        svg {
            width: 20px;
            height: 20px;
            color: #fff;
        }
        
        &.vk {
            background-color: #48729e;
        }
        &.fb {
            background-color: #3b5998;
        }
        &.ok {
            background-color: #eb722e;
        }
        &.tw {
            background-color: #00aced;
        }
        &.viber {
            background-color: #7b519d;
        }
        &.telegram {
            background-color: #64a9dc;
        }
    }
}

@include media575{
    #app {
        .sharetitle {
            width: 100%;
        }
    }
}