<template>
    <v-container class="header row page-content">
        <v-layout>
            <v-flex xs6 class="header__logo just-num-1">
                <a href="/">
                    <svg class="logo"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/local/assets/images/icons/_sprite.svg#logo"></use></svg>
                </a>
            </v-flex>
            <v-flex xs12 lg6 class="header__info just-num-2">
                <div class="header__info__support row just-num-46">
                    <div class="header__info__support__text heading color--lemon" @click="switchPhones">
                        <span class="hidden-xs-down">24/7 Поддержка</span>
                    </div>
                    <div class="note-popup phones-popup" :class="{open: phonesPopup}">
                        <div v-for="contact in contacts" class="contact wrap">
                            <div >
                                <div class="h3">{{contact.title}}</div>
                                <div class="h2">
                                    <a class="phone-black" :href="`tel: ${contact.mainPhone}`">{{contact.mainPhone}}</a>
                                </div>
                                <div class="just-num-79 just-wrap " v-if="contact.additionalContacts || contact.workTime">
                                    <div class="adittional-contact-list">
                                        <div v-for="additionalContact in contact.additionalContacts" class="adittional-contact-list__item just-num-46">
                                            <div class="num">
                                                <a
                                                    class="phone-black"
                                                    :href="`tel: ${additionalContact.phone}`">{{additionalContact.phone}}</a>
                                            </div>
                                            <div class="operator">
                                                <span>{{additionalContact.operator}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="adittional-contact-list">
                                        <div v-for="work in contact.workTime" class="adittional-contact-list__item">
                                            <div class="worktime">
                                                {{work}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.just-num-79 just-wrap -->
                                <p class="email">
                                    <a :href="`mailto:${contact.email}`">{{contact.email}}</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div
                            @click="switchPhones"
                            class="header__info__support__phone"
                            v-if="phone"
                    >
                        <span v-if="phoneObj" ><span class="phonecode">{{phoneObj.countryCode}} {{phoneObj.operatorCode}}</span> <span class="phonenum">{{phoneObj.simpleNumber}}</span></span>
                    </div>

                    <div class="header__info__support__auth just-num-6 just-nowrap">
                        <v-btn float small class="btn--lemon" :href="authHref" @click.stop >Войти</v-btn>
                        <div class="menu-button just-num-5" @click.prevent.stop="showMenu" :class="{open: mobileMenu}">
                            <div class="lines">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line"></div>
                            </div>
                            <!-- /.lines -->

                        </div>
                        <!-- /.menu-button -->
                    </div>

                </div>
                <div class="header__info__menu top-menu" :class="{open: mobileMenu}">
                    <ul class="top-menu__list just-num-46" v-if="menu">
                        <li class="mobile-only top-menu__item heading" >
                            <a :href="authHref">Личный кабинет</a>
                        </li>
                        <li v-for="item in menu" class="top-menu__item heading"
                            :class="{'parent js-toggle-self': item.subMenu !== undefined && item.subMenu.length > 0}">
                            <a v-if="item.subMenu.length > 0" href="javascript:void(0);">{{item.text}}</a>
                            <a v-else :href="item.href">{{item.text}}</a>
                            <div v-if="item.subMenu !== undefined && item.subMenu.length> 0 " class="submenu">
                                <div v-for="child in item.subMenu">
                                    <a class="link" :href="child.href">{{child.text}}</a>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </v-flex>
        </v-layout>

        <div class="clearglass" :class="{open: phonesPopup}" @click="switchPhones"></div>
    </v-container>

</template>

<script src="./script.js"></script>

<style lang="scss" src="./styles.scss" scoped></style>
