@import '../../../../styles/general/_vars.scss';
@import '../../../../styles/general/_mixins.scss';

#app {
  &.dedicated-server-style {
    .header {
      .header__logo {
        .logo {
          color: $color--sea;
        }
      }
    }
  }
  &.hosting-style {
    .header {
      .header__logo {
        .logo {
          color: $color--leaf;
        }
      }
    }
  }
  .header {
    height: 130px;
    z-index: 50;
    padding: 0;

    .header__logo {
      padding-bottom: 0;
      .logo {
        width: 222px;
        height: 65px;
        max-width: 100%;
        color: $color--pinky;
      }
      a:hover {
        border-color: transparent;
      }
    }
    .header__info {
      padding-bottom: 0;
    }

    .header__info__support {
      position: absolute;
      top: 0;
      right: 0;
      width: 420px;
      background: rgba(0, 0, 0, 0.3);
      padding: 10px 18px;
      border-radius: 0 0 8px 8px;
      &:hover{
        cursor: pointer;
      }
      &:after {
        display: none;
      }

    }
    .header__info__support__phone {
      cursor: pointer;
      transition: $speed-short;
      position: relative;
      &:after {
        content: '';
        width: 6px;
        height: 4px;
        background-image: url(/local/assets/images/icons/arrow-down-mini.png);
        background-size: 6px 4px;
        position: absolute;
        top: 13px;
        margin-left: 4px;
      }
      &:hover {
        text-shadow: 0 0 18px;
      }

      .phonecode {
        font-size: 14px;
      }

    }
    .phones-popup {
      top: 80px;
      width: 520px;
      left: -100px;
      box-shadow: 0 5px 6px rgba(0,0,0,0.2);

      .h3 {
        margin-bottom: 10px;
      }
      .h2 {
        margin-bottom: 0;
      }

      .email {
        a {
            border-color: $color--pinky;
            &:hover {
              border-color: transparent;

            }
        }
      }

      .num {
        width: 85%;
        white-space: nowrap;
      }
      .worktime {
        white-space: nowrap;
      }
      .operator {
       width: 15%;
        font-size: 15px;
        color: $color--gray;
        display: flex;
        align-items: flex-end;
      }
    }
  }
  .header__info__menu {
    width: 100%;
  }



  .top-menu__list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;


    .top-menu__item {
      font-size: 18px;
      font-weight: 500;
      &:before {
        display: none!important;
      }

      a {
        color: #fff;
        &:hover {
          color: #fff;
          border-color: $color--lemon;
        }
      }

      .submenu {
        position: absolute;
        background: #fff;
        padding: 35px;
        min-width: 280px;
        border-radius: 18px;
        margin-top: 25px;
        opacity:0;
        visibility: hidden;
        transition: $speed-short .5s;
        &:before {
          content :'';
          width: 20px;
          height: 20px;
          transform: rotate(45deg);
          position: absolute;
          top: -10px;
          left: 25px;
          background: #fff;
        }

        .link, a {
          color: $color--dark;

          font-size: 18px;
          text-transform: none;
          &:hover {
            color: $color--pinky;
            border-color: transparent;
          }
        }
        div {
          margin-top: 25px;
        }
        div:first-child {
          margin-top: 0;
        }
      }

      &:hover {
        .submenu {
          opacity:1;
          visibility: visible;
          transition: $speed-short .2s;

        }
      }

      &:last-child {
        .submenu {
          right: 0;
          &:before {

            left: 80%;

          }
        }
      }
    }
  }

  .menu-button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
    .lines {
      width: 26px;
      height: 29px;
      position: relative;
      .line {
        background: $color--lemon;
        height: 4px;
        position: absolute;
        left: 0;
        border-radius: 4px;
        transition: .4s;
        &:nth-child(1) {
          width: 90%;
          top: 0;
        }
        &:nth-child(2) {
          width: 100%;
          top: calc(50% - 1px);
        }
        &:nth-child(3) {
          width: 80%;
          top: calc(100% - 4px);
        }
      }
    }
    &:hover .lines {
      .line {
        &:nth-child(1) {
          width: 100%;
        }
        &:nth-child(3) {
          width: 100%;
        }
      }
    }
    &.open {
      .lines {
        .line {

          &:nth-child(1) {
            width: 100%;
            top: 48%;
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            width: 0;
            left: 50%;
            transition: .1s;
          }
          &:nth-child(3) {
            width: 100%;
            top: 48%;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

@include media1150 {
  #app {
    .top-menu__list .top-menu__item {
      font-size: 16px;
    }
  }
}

@include media959 {
  #app {
    .header__logo {
      position: absolute;
      top: 15px;
      padding: 0;
    }
    .header__info {
      padding: 0;
    }
    .header .header__info__support {
      right: 0;
    }
  }
}

@include media767 {
  #app {
    .header__info__menu {
      display: block;
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
      max-height: 0;
      transition: .3s;
      background: rgba(0,0,0,0.7);
      min-width: 70vw;
      max-width: 100vw;
      position: absolute;
      right: 0;
      top: 90px;
      &.open {
        visibility: visible;
        opacity: 1;
        max-height: 1000px;
        pointer-events: all;
      }
      .top-menu__list {
        display: block;
        padding: 20px;
      }
    }
    .header__logo {
      top: 0;
      padding: 0 15px 15px 30px;
      position: relative;
      align-items: center;
      background: $color--body;
      height: 80px;
      flex-basis: 40%;

      svg {
        width:120px;
        height: 45px
      }
    }

    .header .phones-popup {
      width :100vw;
      left: 0;
      border-radius: 0;
    }

    .header .header__info {
      flex-basis: 60%;
      max-width: 60%;
      height: 80px;
      background: $color--body;
    }
    .header .header__info__support {
      max-width: 100vw;
      flex-wrap: nowrap;
      min-width: 0;
      width: auto;
    }
    .header__info__support__phone {
      margin-right: 25px;
    }
    .btn--lemon {
      display: none;
    }
    .menu-button{
      display: flex;
      padding: 5px;
      border-radius: 8px;
    }
  }
}

@include  media575 {

  #app .header{
    height: 60px;
    position: fixed;

    .header__logo {
      flex-basis: 60%;
      max-width: 60%;

      svg {
        width:100%;
        height: 100%;
      }
    }

    .header__info {
      flex-basis: 40%;
      max-width: 40%;
      background: $color--body;
    }
    .header__info__support {
      top: 0;
      position: static;
    }
    .header__info__support__phone {
      font-size: 0;
      display: block;
      width :35px;
      height: 35px;
      background: url(/local/assets/images/icons/phone-call-icon.svg) center no-repeat;
      background-size: 80% 80%;
      .phonecode {
        display: none;      }
      &:after {
        display: none;
      }
    }
    .header__info__menu {
      width :100vw;
      min-height: 100vh;
      right: 0;
      top: 80px;
      background: $color--body;
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 80px;
        background: linear-gradient( $color--body, transparent);
        position: absolute;
      }

      .top-menu__list .top-menu__item {
        padding-left: 25px;
        border-bottom: 1px solid rgba(250, 250,250, 0.15);
        padding-bottom: 5px;
        &.parent:before {
          position: absolute;
          display: inline-block!important;
          width: 20px;
          height: 20px;
          background: url(/local/assets/images/icons/arrow-down-mini.png) center no-repeat;
          background-size: auto;
          content: '';
          margin-top: -4px;
        }

        >a {
          font-size: 19px;
        }
        .submenu {
          position: relative;
          background: none;
          text-transform: uppercase;
          font-weight: 300;
          padding: 0 35px;
          border-radius: 0;
          margin-top: 0;
          opacity:1;
          visibility: visible;
          max-height: 0;
          overflow: hidden;
          transition: .4s;

          &:before {
            display: none;
          }

          .link, a {
            color: #fff;
            font-size: 15px;
            text-transform: uppercase;
            line-height: 30px;
          }
          div {
            margin-top: 5px;
          }
          div:first-child {
            margin-top: 0;
          }
        }
        &.open {
          &:before {
            transform: rotate(180deg);
          }
          .submenu {
            max-height: 100vh;
            padding: 15px 35px;
          }
        }
      }




    }
    .header__info__support {
      background: none;
    }
    .header__info__support__text {
      display: none;
    }

    .header__info__menu-button {
      display: block;
    }
    .note-popup .wrap {
      padding: 11vw;
    }
  }
}
