<template>
    <div class="white-section section--templates">
        <img class="banner__img-bg" :src="imageUrl">
        <v-container class="special-offer">
            <v-layout>
                <v-flex xs12 center class="special-offer__box">
                    <h2>
                        {{title}}
                    </h2>
                    <!-- /.inner -->
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>