@import '../../../../styles/general/_mixins.scss';

#app {
  .section--templates {
    position: relative;
    height: 675px;
    overflow: hidden;
    h2 {
      font-size: 150px;
      color: #fff;
      max-width: 800px;
      text-align: center;
      margin: 0 auto;
      text-shadow: 0 0 81px #000;
      font-weight: 700;
      margin-top: 160px;
      line-height: 135px;
    }
    .banner__img-bg {
      position: absolute;
      z-index: 1;
      top: -10px;
      left: -webkit-calc(50% - 1316px);
      left: -moz-calc(50% - 1316px);
      left: calc(50% - 1316px);
    }
    &:before {
      content: '';
      display: block;
      height: 100px;
      position: absolute;
      left: calc(50% - 1070px);
      border: 59em solid transparent;
      border-top: 100px solid #1E1250;
      z-index: 2;
    }
  }
}

@include media768 {
  .section--templates {
    h2 {
      font-size: 110px !important;
    }
  }
}

@include media575 {
  .section--templates {
    h2 {
      font-size: 55px !important;
      line-height: 105px !important;
    }
  }
}
