<template>
    <div class="banner banner--news-detail">
        <img class="banner__img-bg" :src="img">
        <v-container>
            <v-layout>
                <v-flex xs12>
                    <Banner :title="title" :description="description">
                        <div class="row">
                            <a class="link-with-arrow back" :href="goToListButton.href">{{goToListButton.text}}</a>
                        </div>
                    </Banner>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>