@import "../../../../styles/general/vars";
@import "../../../../styles/general/mixins";
.banner {
    padding-bottom: 100px;
}
.banner__img-bg {
    position: absolute;
    z-index: 1;
    top:0;
    left: calc(50% - 960px);
}

@include media575 {
    #app {
        .banner--news-detail {
            padding-bottom: 0;
        }
    }
}


