<template>
    <div class="section--adress-block">
        <img src="/local/assets/images/bg/bg_contacts.png" alt="" class="bg-img">
        <!-- /.bg_img -->
        <v-container>
            <v-layout>
                <v-flex xs12>
                    <h1>{{title}}</h1>
                    <div class="text" v-html="text"></div>
                    <div>
                        <a href="#">{{email}}</a>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
    <!-- /.section--adress-block -->
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>