@import '../../../../styles/general/_vars.scss';
@import '../../../../styles/general/_mixins.scss';

#app {
    .section--adress-block{

        .container {
            padding-top: 65px;
            padding-bottom: 65px;
            border-bottom: 1px solid rgba(255,255,255,0.2);
        }
        .bg-img {
            position: absolute;
            z-index: -1;
            top:0;
            right:0;
        }
        h1 {
            margin-bottom: 40px;
        }

        a{

               border-color: $color--pinky;
            &:hover {
                border-color: transparent;
            }
        }
    }

}