<template>
    <div class="banner" :class="bannerClass">
        <img class="banner__img-bg" :src="img">
        <v-container>
            <v-layout>
                <v-flex xs12>
                    <Banner :title="title" :description="description">
                        <div v-if="button" class="banner__buttonSection ">
                            <v-btn class="btn btn--banner" :class="button.btnType" :href="button.href">{{button.text}}</v-btn>
                        </div>
                    </Banner>
                </v-flex>
            </v-layout>
        </v-container>

    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>