@import '../../../../styles/general/_vars.scss';
@import '../../../../styles/general/_mixins.scss';

.banner {
    padding-bottom: 50px;
}
.banner__img-bg {
    position: absolute;
    z-index: 1;
    top:0;
    left: calc(50% - 960px);
}

.banner-site-constructor{
    padding-bottom: 120px;
    .banner__img-bg{
        top: -40px;
    }
}

@include media959 {
    .banner-site-constructor{
        padding-bottom: 80px;
    }
    .banner__img-bg {
        opacity: .6;
    }
}

@include media575 {
    .banner-site-constructor{
        padding-bottom: 50px;
    }
    .banner__img-bg {
        opacity: .5;
    }
    .banner__buttonSection {
        text-align: center;
    }
}


