<template>
    <div class="search-and-transfer-domain-result">
        <div class="search-and-transfer-domain-result__top">
            <v-container>
                <div class="search-and-transfer-domain-result__text">Поздравляем, <span>trueoriginal.by</span> доступен</div>
                <div class="search-and-transfer-domain-result__price">
                    <span>10 $</span>
                    <v-btn :href="'add'" class="btn--add-to-cart">
                        <span class="btn--add-to-cart__status"></span>
                        <span class="btn--add-to-cart__icon"></span>
                        <div class="btn--add-to-cart__text">В корзину</div>
                    </v-btn>
                </div>
            </v-container>
        </div>
        <div class="search-and-transfer-domain-result__bottom section-arrow-top">
            <div class="search-and-transfer-domain-result__list">
                <v-container>
                    <div class="search-and-transfer-domain-result__list-inner">
                        <div class="search-and-transfer-domain-result-item">
                            <div class="search-and-transfer-domain-result-item__name">труориджинал.бел</div>
                            <div class="search-and-transfer-domain-result-item__price">10 $</div>
                            <div class="search-and-transfer-domain-result-item__btn">
                                <v-btn :href="'add'" class="btn--add-to-cart">
                                    <span class="btn--add-to-cart__status"></span>
                                    <span class="btn--add-to-cart__icon"></span>
                                    <div class="btn--add-to-cart__text">В корзину</div>
                                </v-btn>
                            </div>
                        </div>
                        <div class="search-and-transfer-domain-result-item">
                            <div class="search-and-transfer-domain-result-item__name">trueoriginal.ru</div>
                            <div class="search-and-transfer-domain-result-item__price">49,5 $</div>
                            <div class="search-and-transfer-domain-result-item__btn">
                                <v-btn :href="'add'" class="btn--add-to-cart">
                                    <span class="btn--add-to-cart__status"></span>
                                    <span class="btn--add-to-cart__icon"></span>
                                    <div class="btn--add-to-cart__text">В корзину</div>
                                </v-btn>
                            </div>
                        </div>
                        <div class="search-and-transfer-domain-result-item">
                            <div class="search-and-transfer-domain-result-item__name">trueoriginal.com</div>
                            <div class="search-and-transfer-domain-result-item__price">15,99 $</div>
                            <div class="search-and-transfer-domain-result-item__btn">
                                <v-btn :href="'add'" class="btn--add-to-cart">
                                    <span class="btn--add-to-cart__status"></span>
                                    <span class="btn--add-to-cart__icon"></span>
                                    <div class="btn--add-to-cart__text">В корзину</div>
                                </v-btn>
                            </div>
                        </div>
                        <div class="search-and-transfer-domain-result-item">
                            <div class="search-and-transfer-domain-result-item__name">trueoriginal.%%</div>
                            <div class="search-and-transfer-domain-result-item__price">15,99 $</div>
                            <div class="search-and-transfer-domain-result-item__btn">
                                <v-btn :href="'add'" class="btn--add-to-cart">
                                    <span class="btn--add-to-cart__status"></span>
                                    <span class="btn--add-to-cart__icon"></span>
                                    <div class="btn--add-to-cart__text">В корзину</div>
                                </v-btn>
                            </div>
                        </div>
                    </div>
                </v-container>
            </div>

            <div class="search-and-transfer-domain-result__table">
                <v-container>
                    <div class="search-and-transfer-domain-result-table-name">Возможные домены</div>
                    <div class="search-and-transfer-domain-result-table-list">
                        <div class="search-and-transfer-domain-result-table-list__row">
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-name">trueoriginal.by</div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-busy">Занят</div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-whois">
                                    <a href="#">WHOIS</a>
                                </div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td search-and-transfer-domain-result-table-list__td_empty"></div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-name">trueoriginal.by</div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-busy">Занят</div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-whois">
                                    <a href="#">WHOIS</a>
                                </div>
                            </div>
                        </div>
                        <div class="search-and-transfer-domain-result-table-list__row">
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-name">trueoriginal.com</div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-price">22,6 $</div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <v-btn class="btn--add-to-cart btn--add-to-cart-active">
                                    <span class="btn--add-to-cart__status"></span>
                                    <span class="btn--add-to-cart__icon"></span>
                                    <div class="btn--add-to-cart__text">В корзине</div>
                                </v-btn>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td search-and-transfer-domain-result-table-list__td_empty"></div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-name">trueoriginal.com</div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-price">22,6 $</div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-whois">
                                    <v-btn class="btn--add-to-cart">
                                        <span class="btn--add-to-cart__status"></span>
                                        <span class="btn--add-to-cart__icon"></span>
                                        <div class="btn--add-to-cart__text">В корзину</div>
                                    </v-btn>
                                </div>
                            </div>
                        </div>
                        <div class="search-and-transfer-domain-result-table-list__row">
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-name">trueoriginal.io</div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-price">10 $</div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <v-btn class="btn--add-to-cart">
                                    <span class="btn--add-to-cart__status"></span>
                                    <span class="btn--add-to-cart__icon"></span>
                                    <div class="btn--add-to-cart__text">В корзину</div>
                                </v-btn>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td search-and-transfer-domain-result-table-list__td_empty"></div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-name">trueoriginal.io</div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-busy">Занят</div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-whois">
                                    <a href="#">WHOIS</a>
                                </div>
                            </div>
                        </div>
                        <div class="search-and-transfer-domain-result-table-list__row">
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-name">trueoriginal.it</div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-busy">Занят</div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-whois">
                                    <a href="#">WHOIS</a>
                                </div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td search-and-transfer-domain-result-table-list__td_empty"></div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-premium">
                                    <div class="search-and-transfer-domain-result-table-item-name">trueoriginal.it</div>
                                    <img src="/local/assets/images/icons/premium.png" alt="" />
                                </div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-price">150 $</div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <v-btn class="btn--add-to-cart">
                                    <span class="btn--add-to-cart__status"></span>
                                    <span class="btn--add-to-cart__icon"></span>
                                    <div class="btn--add-to-cart__text">В корзину</div>
                                </v-btn>
                            </div>
                        </div>
                        <div class="search-and-transfer-domain-result-table-list__row">
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-premium">
                                    <div class="search-and-transfer-domain-result-table-item-name">trueoriginal.ua</div>
                                    <img src="/local/assets/images/icons/premium.png" alt="" />
                                </div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-price">100 $</div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <v-btn class="btn--add-to-cart">
                                    <span class="btn--add-to-cart__status"></span>
                                    <span class="btn--add-to-cart__icon"></span>
                                    <div class="btn--add-to-cart__text">В корзину</div>
                                </v-btn>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td search-and-transfer-domain-result-table-list__td_empty"></div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-name">trueoriginal.ua</div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <div class="search-and-transfer-domain-result-table-item-price">10 $</div>
                            </div>
                            <div class="search-and-transfer-domain-result-table-list__td">
                                <v-btn class="btn--add-to-cart">
                                    <span class="btn--add-to-cart__status"></span>
                                    <span class="btn--add-to-cart__icon"></span>
                                    <div class="btn--add-to-cart__text">В корзину</div>
                                </v-btn>
                            </div>
                        </div>
                    </div>
                    <div class="search-and-transfer-domain-result-table-list__more">
                        <v-btn flat class="btn--pinky">Показать еще варианты</v-btn>
                    </div>
                </v-container>
            </div>
        </div>
        <div class="section-arrow-down2"></div>
    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>