@import '../../../../styles/general/_vars.scss';
@import '../../../../styles/general/_mixins.scss';


.search-and-transfer-domain-result {

    &__text {
        margin-bottom: 26px;
        text-align: center;
        color: #8EC344;
        font-size: 30px;

        span {
            font-weight: bold;
        }
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: center;

        > span {
            margin-right: 25px;
            color: #fff;
            font-size: 30px;
            font-weight: bold;
        }
    }

    &__top {
        padding-bottom: 125px;
    }

    &__bottom {
        background: #fff;
    }

    &__list {
        position: relative;
        top: -110px;
    }
    &__list-inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__table {
        position: relative;
        top: -118px;
    }

}

.search-and-transfer-domain-result-item {
    flex: 0 0 233px;
    width: 233px;
    background: #fff;
    padding: 15px 15px 22px;
    border-radius: 6px;
    border: 2px solid #E9E9E9;
    color: #333333;
    text-align: center;
    transition: 0.2s;

    &__name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 12px;
    }

    &__price {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 12px;
    }

    &__btn {}

    &:hover {
        box-shadow: 0px 4px 6px rgba(51, 51, 51, 0.25);
    }
}

.search-and-transfer-domain-result-table-name {
    color: #333333;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 4px;
    margin-bottom: 20px;
}

.search-and-transfer-domain-result-table-list {
    display: table;
    width: 100%;
    color: #333333;

    &__row {
        display: table-row;

        &:nth-child(odd){
            background: rgba(233, 233, 233, 0.25);
        }
    }

    &__td {
        display: table-cell;
        padding: 15px;

        &_empty {
            width: 100%;
        }
    }

    &__more {
        text-align: center;
        padding-top: 60px;
    }
}


.search-and-transfer-domain-result-table-item-busy {
    border: 1px solid #333333;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    padding: 4px 14px;
    text-align: center;
}

.search-and-transfer-domain-result-table-item-whois {
    a {
        font-size: 14px;
    }
}
.search-and-transfer-domain-result-table-item-price {
    font-size: 24px;
    font-weight: 500;
}

.search-and-transfer-domain-result-table-item-premium {
    display: flex;
    align-items: center;

    .search-and-transfer-domain-result-table-item-name {
        margin-right: 20px;
    }
}

.search-and-transfer-domain-result-table-item-price,
.search-and-transfer-domain-result-table-item-busy,
.search-and-transfer-domain-result-table-item-whois,
.search-and-transfer-domain-result-table-item-name {
    white-space: nowrap;
}