<template>
    <div class="footer column">
        <div class="pretty-links-column">
            <v-container>
                <v-layout class="page-content footer__prettyLinks">
                    <v-flex xs12 sm6 class="footer__prettyLink " v-for="prettyLink in prettyLinks" :key="prettyLink.sort" :class="prettyLink.class">
                        <div>
                            <p v-html="prettyLink.title"></p>
                            <div>
                                <v-btn flat :class="'btn--'+prettyLink.class" :href="prettyLink.buttonHref">
                                    {{prettyLink.buttonText}}
                                </v-btn>
                            </div>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>

        </div>
        <!-- /.pretty-links-column -->

        <div class="footer__cards row page-content just-num-5 just-wrap">
            <div class="footer__card just-num-5" v-for="card in cards">
                <img :src="card.imgUrl" >
            </div>
        </div>
        <div class="footer__bottomMenu  page-content row just-num-5 just-wrap">

                <div v-for="item in bottomMenu" class="footer__bottomMenu__item">
                    <a :href="item.href">{{item.text}}</a>
                </div>

        </div>
        <div class="footer__socialNetworks just-num-5 row">
            <div class="footer__socialNetwork col" v-for="item in socialNetworks">
                <a class="socialNetwork__link" :href="item.href">
                    <svg class="social-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" :xlink:href="'/local/assets/images/icons/_sprite.svg#'+item.class"></use></svg>
                </a>
            </div>
        </div>
        <div class="footer__copyright page-content just-num-8 row">
            <p v-html="copyright"></p>
        </div>
    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>