@import "../../../../styles/general/vars";
@import '../../../../styles/general/_mixins.scss';

#app {
  .footer {
    background: linear-gradient( 160deg, #360e69, transparent 75%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .pretty-links-column {
    border-bottom: 1px solid $color--footer-border;
    .container {
      padding-top:0;
      padding-bottom: 0;
    }
  }
  .footer__prettyLinks {
    .btn--sea {
        &:hover {
            color: unset !important;
            background-color: #01adc31f !important;
        }
    }
  }
  .footer__prettyLink {
    display: block;
    padding: 80px 80px 80px 160px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 45px 80px;
    font-size: 34px;
    line-height: 46px;
    font-weight: 500;

    &.leaf {
      background-image: url(/local/assets/images/icons/pretty-link-leaf.svg);
    }
    &.sea {
      background-image: url(/local/assets/images/icons/pretty-link-sea.svg);
    }
    &:nth-child(1) {
      border-right: 1px solid $color--footer-border;
    }

    p {
      margin-bottom: 10px;
    }

  }

  .footer__cards {
    padding: 40px 0;
    margin-top: 15px;
    .footer__card {
      margin: 10px;
    }

  }
  .footer__bottomMenu {
    width: 1120px;
  }
  .footer__bottomMenu__item {
    flex-wrap: wrap;
    padding: 0 17px;
    margin-bottom: 17px;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    border-left: 1px solid #fff;
    &:first-child, &:nth-child(7) {
      border-left: none;
    }
    a {
      color: #fff;
      &:hover {
        border-color: #fff;
      }
    }
  }
  .footer__socialNetworks {
    margin: 25px 0;

  }
  .footer__socialNetwork {

    max-width: 50px;
    max-height: 28px;
    .socialNetwork__link {
      color: #fff;
      opacity: .5;
      &:hover {
        opacity: 1;
        border-color: transparent;
      }
      svg, svg * {
        max-width: 45px;
        max-height: 28px;
        width: 45px;
        height: 45px;
      }
    }
  }

  .footer__copyright {
    text-align: center;
    height: 115px;
    font-size: 14px;
    opacity: .3;

  }
}

@include media959 {
  #app {
    .pretty-links-column {
      border-bottom: none;
    }
    .footer__prettyLinks {

      padding-top: 25px;

    }
    .footer__prettyLink {
      flex: 0 0 100%;
      margin-left: 0 !important;
      margin-bottom: 25px;
      border-bottom: 1px solid $color--footer-border;

    }
    .footer__bottomMenu__item {
      border-left: none;

    }
  }
}

@include media959 {
  #app {
    .footer__prettyLink {
      font-size: 22px;
      line-height: 1.4;
      padding-left: 80px;
      background-position: 80px 20px;
      padding-top: 100px;
      padding-bottom: 30px;
    }
  }
}

@include media767 {
  #app {
    .footer__prettyLinks {
      flex-wrap: wrap;
    }
    .footer__prettyLink {
      padding-left: 120px;
      padding-top: 10px;
      font-size: 16px;
      background-position: 25px 10px;
      background-size: 80px 70px;
      a {
        color: #fff!important;
        white-space: nowrap;
      }
      &:first-child {

        border-right: none;
      }
    }
  }
}


@include media575 {
  #app {
    .footer__cards {
      margin-top: -10px;
      padding: 10px 0;
    }
  }
}