<template>
    <div class="banner banner-subscribe">
        <img class="banner__img-bg" :src="img">
        <v-container>
            <v-layout>
                <v-flex xs12>
                    <Banner  :title="title" :description="description">

                        <div class=" just-num-4 rowstring just-wrap">
                            <div class="input">
                                <input id="user_mail" type="text" name="user_name"  v-model="userMail">
                                <label for="user_mail" :class="{noempty: userMail}">E-mail</label>
                            </div>
                            <div class="btn-place">
                                <v-btn :href="subscribe.href" class="btn--banner btn--banner-subscribe">
                                    {{subscribe.text}}
                                </v-btn>
                            </div>
                        </div>
                    </Banner>
                </v-flex>
            </v-layout>
        </v-container>

    </div>
</template>

<script src="./script.js"></script>

<style scoped lang="scss" src="./styles.scss"></style>