@import '../../../../styles/general/_vars.scss';
@import '../../../../styles/general/_mixins.scss';
#app {
    .banner {
        padding-bottom: 20px;
    }

    .banner__img-bg {
        position: absolute;
        z-index: 1;
        top: 0;
        left: calc(50% - 960px);
    }
    input {
        width: 380px;
        max-width: 100%;
    }
}


@include media959 {
    #app {
        .banner__img-bg {
            opacity: .6;
        }
        .rowstring {
            .input {
                width: 300px;
            }
            .btn--banner-subscribe {
                margin-top:8px;
                margin-left: 15px;
            }
        }
    }
}

@include media575 {
    #app {
        .banner__img-bg {
            opacity: .5;
        }
        .rowstring {
            .input{
                width: 100%;
            }
            .btn-place {
                width: 100%;
            }
            .btn--banner-subscribe {
                margin-left: 0;
                margin-top: 15px;
                width: 100%;
            }
        }
    }
}


